Source: netdata-repo
Section: net
Priority: optional
Maintainer: Netdata Builder <bot@netdata.cloud>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9), curl, gnupg
Homepage: https://netdata.cloud

Package: netdata-repo
Architecture: all
Depends: debian-archive-keyring, gnupg
Conflicts: netdata-repo-edge
Description: Configuration for the official Netdata Stable package repository.

Package: netdata-repo-edge
Architecture:all
Depends: debian-archive-keyring, gnupg
Conflicts: netdata-repo
Description: Configuration for the official Netdata Edge package repository.
