html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  background: linear-gradient(180deg, #00b44d 0%, #005123 100%);
  height: 100%;
  width: 100%;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.logo-container {
  margin-top: 24px;
}

.content {
  margin-left: 48px;
}

.header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #ffffff;
  white-space: nowrap;
}

.info {
  width: 444px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;

  color: #ffffff;
}

.buttons {
  display: flex;
  margin-top: 48px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 0px;

  width: 168px;
  height: 40px;

  border-radius: 4px;

  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}

.button-reload {
  background: transparent;
  border: 1px solid #ffffff;
}

.button-status {
  margin-left: 24px;
  background: #00ab44;
}
