# Ignore compiled binaries
test_topic_commands_simple
test_topic_corrected
test_topic_final
test_topic_metrics_exist
test_topic_status_real
test_queue_stats

# Ignore all files without extension (likely binaries)
*
!*/
!*.*
!Makefile
!.gitignore