# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @Ferroin

# Ownership by directory structure
.github/ @Ferroin
src/aclk/ @stelfrag
contrib/debian @Ferroin
src/collectors/ @thiagoftsm
src/collectors/ebpf.plugin/ @thiagoftsm
src/collectors/charts.d.plugin/ @ilyam8 @Ferroin
src/collectors/freebsd.plugin/ @thiagoftsm
src/collectors/macos.plugin/ @thiagoftsm
src/collectors/python.d.plugin/ @ilyam8
src/collectors/cups.plugin/ @thiagoftsm
src/exporting/ @thiagoftsm
src/daemon/ @thiagoftsm @vkalintiris
src/database/ @thiagoftsm @vkalintiris
docs/ @Ancairon
src/go/ @ilyam8
src/health/ @thiagoftsm @vkalintiris
src/health/health.d/ @thiagoftsm
src/health/notifications/ @Ferroin @thiagoftsm
src/ml/ @vkalintiris
src/libnetdata/ @thiagoftsm @vkalintiris
packaging/ @Ferroin
packaging/cmake @Ferroin @vkalintiris
src/registry/ @novykh
src/streaming/ @thiagoftsm
system/ @Ferroin
tests/ @Ferroin @vkalintiris
src/web/ @thiagoftsm @vkalintiris
src/web/gui/ @novykh
src/logsmanagement/ @thiagoftsm

# Ownership by filetype (overwrites ownership by directory)
*.md @Ancairon
*.mdx @Ancairon
Dockerfile* @Ferroin

# Ownership of specific files
.gitignore @Ferroin @vkalintiris
.codacy.yml @Ferroin
.yamllint.yml @Ferroin
CMakeLists.txt @Ferroin @vkalintiris
netdata.spec.in @Ferroin
netdata-installer.sh @Ferroin
packaging/version @netdatabot @Ferroin

LICENSE.md @Ferroin @vkalintiris
CHANGELOG.md @netdatabot @Ferroin
