.deps
.libs

*.o
*.in
*~

Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

netdata
apps.plugin
netdata.spec

*.tar.*
