[submodule "mqtt_websockets"]
	path = mqtt_websockets
	url = https://github.com/underhood/mqtt_websockets.git
[submodule "aclk/aclk-schemas"]
	path = aclk/aclk-schemas
	url = https://github.com/netdata/aclk-schemas.git
[submodule "ml/kmeans/dlib"]
	path = ml/kmeans/dlib
	url = https://github.com/davisking/dlib.git
	shallow = true
	ignore = dirty
[submodule "ml/json"]
	path = ml/json
	url = https://github.com/nlohmann/json.git
	shallow = true
