src/go/plugin/go.d/config/go.d/snmp.trap-profiles/default/** linguist-generated=true
src/go/plugin/go.d/config/go.d/snmp.trap-profiles/catalogue.json linguist-generated=true
src/go/plugin/go.d/config/go.d/snmp.trap-profiles/iana-enterprise-numbers.txt linguist-generated=true
