[package]
name = "foundation"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dev-dependencies]
tokio = { workspace = true, features = ["rt", "time", "macros"] }
