<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="Netdata Agent Installer"
        Manufacturer="Netdata Inc."
        Version="2.0.0.0"
        UpgradeCode="0d949b90-a54d-4aae-9616-e15fbc410530"
        Compressed="no">

        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

        <WixVariable Id="WixUILicenseRtf" Value="cloud.rtf" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Icon Id="NetdataIcon.ico" SourceFile="NetdataWhite.ico"/>
        <Property Id="ARPPRODUCTICON" Value="NetdataIcon.ico" />

        <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Netdata is installed and running now! Enjoy real-time performance and health monitoring..." />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"  Value="Launch MSYS2 terminal." />

		<Property Id="TOKEN" Value="#" />
		<Property Id="ROOMS" Value="#" />
		<Property Id="INSECURE" Value="no" />
		<Property Id="PROXY" Value="#" />
		<Property Id="URL" Value="https://app.netdata.cloud" />

        <Feature Id="Main">
            <ComponentGroupRef Id="NetdataComponents" />
            <ComponentGroupRef Id="WevtComponents" />
            <ComponentRef Id="NetdataService" />
        </Feature>
    </Package>

    <Fragment>
        <Property Id="MsiLogging" Value="voicewarmupx!"/>

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="Netdata Agent">
                <Directory Id="USRDIR" Name="usr">
                    <Directory Id="USRBINDIR" Name="bin" />
                </Directory>
            </Directory>
        </StandardDirectory>

        <StandardDirectory Id="System64Folder">
        </StandardDirectory>

        <!-- All the files except for the ones we need to handle specially -->
        <ComponentGroup Id="NetdataComponents" Directory="INSTALLFOLDER">
            <Files Include="C:\msys64\opt\netdata\**">
                <Exclude Files="C:\msys64\opt\netdata\usr\bin\netdata.exe" />
                <Exclude Files="C:\msys64\opt\netdata\usr\bin\wevt_netdata_manifest.xml" />
                <Exclude Files="C:\msys64\opt\netdata\usr\bin\wevt_netdata.dll" />
            </Files>
        </ComponentGroup>

        <!-- Install wevt manifest/dll files -->
        <ComponentGroup Id="WevtComponents" Directory="System64Folder">
            <Component>
                <File Id="WevtDll" Name="wevt_netdata.dll" Source="C:\msys64\opt\netdata\usr\bin\wevt_netdata.dll">
                    <Permission User="NT SERVICE\EventLog" GenericRead="yes" Synchronize="yes" />
                    <Permission User="NT AUTHORITY\SYSTEM" GenericAll="yes" />
                    <Permission User="BUILTIN\Administrators" GenericAll="yes" />
                    <Permission User="BUILTIN\Users" GenericRead="yes" GenericExecute="yes" />
                    <Permission User="[LogonUser]" GenericAll="yes" />
                    <Permission User="ALL APPLICATION PACKAGES" GenericRead="yes" GenericExecute="yes" />
                    <Permission User="ALL RESTRICTED APPLICATION PACKAGES" GenericRead="yes" GenericExecute="yes" />
                </File>
            </Component>

            <Component>
                <File Id="WevtManifest" Name="wevt_netdata_manifest.xml" Source="C:\msys64\opt\netdata\usr\bin\wevt_netdata_manifest.xml">
                    <util:EventManifest ResourceFile="[#WevtDll]" MessageFile="[#WevtDll]" />
                </File>
            </Component>
        </ComponentGroup>

        <CustomAction Id="ClaimAgent" Directory="USRBINDIR" ExeCommand="NetdataClaim.exe /T [TOKEN] /R '[ROOMS]' /U [URL] /I [INSECURE] /P [PROXY]" Execute="deferred" Return="ignore" Impersonate="no"/>

        <Component Id="NetdataService" Directory="USRBINDIR">
            <File Id="NetdataExe" Name="netdata.exe" Source="C:\msys64\opt\netdata\usr\bin\netdata.exe" KeyPath="yes" />

            <ServiceInstall Id="InstallService"
                            Name="Netdata"
                            DisplayName="Netdata Agent"
                            Description="Netdata is distributed, real-time, performance and health monitoring for systems and applications."
                            Type="ownProcess"
                            Start="auto"
                            ErrorControl="normal" />

            <ServiceControl Id="ControlService"
                            Start="install"
                            Stop="both"
                            Remove="uninstall"
                            Name="Netdata"
                            Wait="yes" />
        </Component>
    </Fragment>

    <Fragment>
        <UI Id="Netdata_Mondo">
            <UIRef Id="WixUI_Mondo" />
        </UI>
    </Fragment>
</Wix>

