*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
.classpath
.project
.settings/

# Maven
target/

# netdata-plugin-java-daemon-installer.sh
netdata-plugin-java-daemon-installer.log
netdata-plugin-java-daemon-uninstaller.sh

# macOS
.DS_Store
