[global]
    hostname = $hostname
    config directory = $config_directory
    log directory = $log_directory
    cache directory = $cache_directory
    lib directory = $lib_directory
    memory mode = $memory_mode
    errors flood protection period = 9999
    errors to trigger flood protection = 999999

[health]
    enabled = no

[ml]
    enabled = no

[plugins]
    enable running new plugins = no
    timex = no
    checks = no
    idlejitter = no
    tc = no
    diskspace = no
    proc = no
    cgroups = no
    statsd = no
    slabinfo = no
    go.d = no
    charts.d = no
    fping = no
    ioping = no
    python.d = no
    apps = no
    ebpf = no
    macos = no

[replication]
    enabled = $replication
    seconds to replicate on first connection = 3600
    max queries per second = 128
    log replication operations = yes

[web]
    default port = $web_port
