# yaml-language-server: $schema=https://spec.openapis.org/oas/3.0/schema/2024-10-18
openapi: 3.0.0
info:
  title: Netdata API
  description: |
    Real-time performance and health monitoring.
    
    ## API Versions
    
    Netdata provides three API versions:
    - **v1**: The original API, focused on single-node operations
    - **v2**: Multi-node API with advanced grouping and aggregation capabilities
    - **v3**: The latest API version that combines v1 and v2 endpoints and may include additional features
    
    ### v3 API Endpoints

    The v3 API provides the current, actively maintained endpoints:
    - `/api/v3/data` - Multi-dimensional data queries
    - `/api/v3/weights` - Metric scoring/correlation
    - `/api/v3/contexts` - Context metadata
    - `/api/v3/nodes` - Node information
    - `/api/v3/q` - Full-text search
    - `/api/v3/alerts` - Alert information
    - `/api/v3/alert_transitions` - Alert state transitions
    - `/api/v3/alert_config` - Alert configuration
    - `/api/v3/functions` - Available functions
    - `/api/v3/function` - Execute functions
    - `/api/v3/info` - Agent information
    - `/api/v3/node_instances` - Node instance information
    - `/api/v3/stream_path` - Streaming topology
    - `/api/v3/versions` - Version information
    - `/api/v3/badge.svg` - Dynamic badges
    - `/api/v3/allmetrics` - Export metrics
    - `/api/v3/context` - Single context info
    - `/api/v3/variable` - Variable information
    - `/api/v3/config` - Dynamic configuration
    - `/api/v3/settings` - Agent settings
    - `/api/v3/me` - Current user information
    - `/api/v3/claim` - Agent claiming
    - Additional management and streaming endpoints

    **Note:** V1 and V2 APIs are deprecated and maintained for backwards compatibility only. New integrations should use V3 exclusively.
  version: "v1-rolling"
  contact:
    name: Netdata Agent API
    email: info@netdata.cloud
    url: https://netdata.cloud
  license:
    name: GPL v3+
    url: https://github.com/netdata/netdata/blob/master/LICENSE
servers:
  - url: https://registry.my-netdata.io
  - url: http://registry.my-netdata.io
  - url: http://localhost:19999
tags:
  - name: nodes
    description: Everything related to monitored nodes
  - name: charts
    description: Everything related to chart instances - DO NOT USE IN NEW CODE - use contexts instead
  - name: contexts
    description: Everything related contexts - in new code, use this instead of charts
  - name: data
    description: Everything related to data queries
  - name: badges
    description: Everything related to dynamic badges based on metric data
  - name: weights
    description: Everything related to scoring / weighting metrics
  - name: functions
    description: Everything related to functions
  - name: alerts
    description: Everything related to alerts
  - name: management
    description: Everything related to managing netdata Agents
paths:
  /api/v2/nodes:
    get:
      deprecated: true
      operationId: getNodes2
      tags:
        - nodes
      summary: Nodes Info v2
      description: |
        Get a list of all nodes hosted by this Netdata Agent.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/scopeNodes'
        - $ref: '#/components/parameters/scopeContexts'
        - $ref: '#/components/parameters/filterNodes'
        - $ref: '#/components/parameters/filterContexts'
        - $ref: '#/components/parameters/contextsQueryOptions'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                description: |
                  `/api/v2/nodes` response for all nodes hosted by a Netdata Agent.
                type: object
                properties:
                  api:
                    $ref: '#/components/schemas/api'
                  agents:
                    $ref: '#/components/schemas/agents'
                  versions:
                    $ref: '#/components/schemas/versions'
                  nodes:
                    type: array
                    items:
                      $ref: '#/components/schemas/nodeFull'
  /api/v3/nodes:
    get:
      operationId: getNodes3
      tags:
        - nodes
      summary: Nodes Info v3
      description: |
        Get a list of all nodes hosted by this Netdata Agent.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/scopeNodes'
        - $ref: '#/components/parameters/scopeContexts'
        - $ref: '#/components/parameters/filterNodes'
        - $ref: '#/components/parameters/filterContexts'
        - $ref: '#/components/parameters/contextsQueryOptions'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                description: |
                  `/api/v3/nodes` response for all nodes hosted by a Netdata Agent.
                type: object
                properties:
                  api:
                    $ref: '#/components/schemas/api'
                  agents:
                    $ref: '#/components/schemas/agents'
                  versions:
                    $ref: '#/components/schemas/versions'
                  nodes:
                    type: array
                    items:
                      $ref: '#/components/schemas/nodeFull'
  /api/v2/contexts:
    get:
      deprecated: true
      operationId: getContexts2
      tags:
        - contexts
      summary: Contexts Info v2
      description: |
        Get a list of all contexts, across all nodes, hosted by this Netdata Agent.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/scopeNodes'
        - $ref: '#/components/parameters/scopeContexts'
        - $ref: '#/components/parameters/filterNodes'
        - $ref: '#/components/parameters/filterContexts'
        - $ref: '#/components/parameters/contextsQueryOptions'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contexts2'
  /api/v3/contexts:
    get:
      operationId: getContexts3
      tags:
        - contexts
      summary: Contexts Info v3
      description: |
        Get a list of all contexts, across all nodes, hosted by this Netdata Agent.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/scopeNodes'
        - $ref: '#/components/parameters/scopeContexts'
        - $ref: '#/components/parameters/filterNodes'
        - $ref: '#/components/parameters/filterContexts'
        - $ref: '#/components/parameters/contextsQueryOptions'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contexts2'
  /api/v2/q:
    get:
      deprecated: true
      operationId: q2
      tags:
        - contexts
      summary: Full Text Search v2
      description: |
        Get a list of contexts, across all nodes, hosted by this Netdata Agent, matching a string expression

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          description: The strings to search for, formatted as a simple pattern
          required: true
          schema:
            type: string
            format: simple pattern
        - $ref: '#/components/parameters/scopeNodes'
        - $ref: '#/components/parameters/scopeContexts'
        - $ref: '#/components/parameters/filterNodes'
        - $ref: '#/components/parameters/filterContexts'
        - $ref: '#/components/parameters/contextsQueryOptions'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contexts2'
  /api/v3/q:
    get:
      operationId: q3
      tags:
        - contexts
      summary: Full Text Search v3
      description: |
        Get a list of contexts, across all nodes, hosted by this Netdata Agent, matching a string expression.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          description: The strings to search for, formatted as a simple pattern
          required: true
          schema:
            type: string
            format: simple pattern
        - $ref: '#/components/parameters/scopeNodes'
        - $ref: '#/components/parameters/scopeContexts'
        - $ref: '#/components/parameters/filterNodes'
        - $ref: '#/components/parameters/filterContexts'
        - $ref: '#/components/parameters/contextsQueryOptions'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contexts2'
  /api/v1/info:
    get:
      deprecated: true
      operationId: getNodeInfo1
      tags:
        - nodes
      summary: Node Info v1
      description: |
        The info endpoint returns basic information about netdata. It provides:
        * netdata version
        * netdata unique id
        * list of hosts mirrored (includes itself)
        * Operating System, Virtualization, K8s nodes and Container technology information
        * List of active collector plugins and modules
        * Streaming information
        * number of alarms in the host
          * number of alarms in normal state
          * number of alarms in warning state
          * number of alarms in critical state

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      responses:
        "200":
          description: netdata basic information.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/info"
        "503":
          description: netdata daemon not ready (used for health checks).
  /api/v1/charts:
    get:
      deprecated: true
      operationId: getNodeCharts1
      tags:
        - charts
      summary: List all charts v1 - EOL
      description: The charts endpoint returns a summary about all charts stored in the
        netdata server.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      responses:
        "200":
          description: An array of charts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/chart_summary"
  /api/v1/chart:
    get:
      deprecated: true
      operationId: getNodeChart1
      tags:
        - charts
      summary: Get one chart v1 - EOL
      description: The chart endpoint returns detailed information about a chart.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/chart'
      responses:
        "200":
          description: A javascript object with detailed information about the chart.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/chart"
        "400":
          description: No chart id was supplied in the request.
        "404":
          description: No chart with the given id is found.
  /api/v1/contexts:
    get:
      deprecated: true
      operationId: getNodeContexts1
      tags:
        - contexts
      summary: Get a list of all node contexts available v1
      description: The contexts endpoint returns a summary about all contexts stored in the
        netdata server.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/dimensions'
        - $ref: '#/components/parameters/chart_label_key'
        - $ref: '#/components/parameters/chart_labels_filter'
        - $ref: '#/components/parameters/contextOptions1'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        "200":
          description: An array of contexts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/context_summary"
  /api/v1/context:
    get:
      deprecated: true
      operationId: getNodeContext1
      tags:
        - contexts
      summary: Get info about a specific context
      description: |
        The context endpoint returns detailed information about a given context.
        The `context` parameter is required for this call.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/context'
        - $ref: '#/components/parameters/dimensions'
        - $ref: '#/components/parameters/chart_label_key'
        - $ref: '#/components/parameters/chart_labels_filter'
        - $ref: '#/components/parameters/contextOptions1'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
      responses:
        "200":
          description: A javascript object with detailed information about the context.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/context"
        "400":
          description: No context id was supplied in the request.
        "404":
          description: No context with the given id is found.
  /api/v3/context:
    get:
      operationId: getNodeContext3
      tags:
        - contexts
      summary: Get info about a specific context - Latest API
      description: |
        The context endpoint returns detailed information about a specific monitoring context across all nodes.

        This is the latest version (v3) of the context API. It provides the same functionality as v1 but may include additional features in the future.

        **What is a Context?**
        A context is a grouping of charts that monitor the same type of metric across different instances. For example:
        - `system.cpu` - CPU usage (one chart per node)
        - `disk.io` - Disk I/O operations (one chart per disk)
        - `net.packets` - Network packets (one chart per network interface)

        **Use Cases:**
        - Get metadata about a specific metric type across all instances and nodes
        - Discover which charts belong to a context
        - Filter charts by labels or dimensions
        - Understand metric families, units, and chart types
        - Build dynamic dashboards that adapt to available instances

        The response includes all charts that belong to the specified context, with their metadata, dimensions, labels, and current availability status.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - name: context
          in: query
          description: |
            The context identifier to query. This is a required parameter.

            A context represents a type of metric collected across multiple instances. Each context groups charts that measure the same thing but for different entities.

            **Common Context Examples:**
            - `system.cpu` - CPU utilization metrics
            - `system.ram` - RAM usage metrics
            - `disk.io` - Disk I/O operations
            - `disk.ops` - Disk operation counts
            - `net.packets` - Network packet statistics
            - `net.drops` - Network packet drops
            - `cgroup.cpu` - Container CPU usage
            - `nginx.requests` - Nginx request rates

            **Finding Available Contexts:**
            Use the `/api/v3/contexts` endpoint to get a list of all available contexts.

            **Alias:** Can also be specified as `ctx` for brevity.
          required: true
          schema:
            type: string
          example: "system.cpu"
        - $ref: '#/components/parameters/dimensions'
        - $ref: '#/components/parameters/chart_label_key'
        - $ref: '#/components/parameters/chart_labels_filter'
        - name: options
          in: query
          description: |
            Comma or pipe-separated list of options to control the response content and format.

            **Available Options:**
            - `full` or `all` - Include all possible information (equivalent to enabling all options below)
            - `charts` - Include the list of charts belonging to this context
            - `dimensions` - Include dimension information for each chart
            - `queue` - Include data collection queue statistics
            - `flags` - Include internal flags and states
            - `labels` - Include chart labels
            - `alerts` - Include alert configurations and states for this context

            **Option Combinations:**
            Options can be combined. For example: `options=charts,dimensions,labels` will include charts with their dimensions and labels.

            **Default Behavior:**
            When not specified, returns basic context information without detailed chart data.

            **Examples:**
            - `options=full` - Complete information
            - `options=charts,dimensions` - Charts with dimension details
            - `options=charts|labels` - Charts with labels (pipe separator)
          required: false
          schema:
            type: string
          examples:
            minimal:
              value: ""
              summary: Basic context info only
            standard:
              value: "charts,dimensions"
              summary: Charts with dimensions
            complete:
              value: "full"
              summary: All available information
        - name: after
          in: query
          description: |
            Return only charts that have collected data after this timestamp.

            This filters charts based on their data collection activity, excluding charts that haven't collected data since the specified time.

            **Format:** Unix timestamp in seconds

            **Use Cases:**
            - Find recently active charts
            - Exclude stale or obsolete charts
            - Filter charts by collection timeframe

            **Example:** `after=1609459200` (charts active after January 1, 2021)

            When not specified, all charts are included regardless of their last update time.
          required: false
          schema:
            type: integer
            format: int64
          example: 1609459200
        - name: before
          in: query
          description: |
            Return only charts that have collected data before this timestamp.

            This filters charts based on their data collection activity, excluding charts that only have data after the specified time.

            **Format:** Unix timestamp in seconds

            **Use Cases:**
            - Historical analysis of chart availability
            - Find charts that were active during a specific time period
            - Exclude newer charts from results

            **Example:** `before=1640995200` (charts active before January 1, 2022)

            When combined with `after`, you can specify an exact time window:
            `after=1609459200&before=1640995200` (charts active during 2021)

            When not specified, all charts are included regardless of their collection timeline.
          required: false
          schema:
            type: integer
            format: int64
          example: 1640995200
      responses:
        "200":
          description: |
            Success. Returns detailed information about the requested context.

            The response is a JSON object containing:
            - Context metadata (name, title, family, units, chart type)
            - List of charts belonging to this context (when options=charts)
            - Dimension information (when options=dimensions)
            - Chart labels (when options=labels)
            - Alert configurations (when options=alerts)
            - Collection statistics (when options=queue)

            **Response Structure:**
            The exact structure depends on the options parameter. With `options=full`, you get complete information including all charts, their dimensions, labels, and current states.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/context"
        "400":
          description: |
            Bad request. Common causes:
            - Missing required 'context' parameter
            - Invalid parameter values
            - Malformed filter patterns
        "404":
          description: |
            Not found. The specified context does not exist on this Netdata agent.

            This can occur when:
            - The context name is misspelled
            - The context is not being collected on this agent
            - The context was available but is now obsolete
        "500":
          description: Internal server error. Usually indicates the server is out of memory.
  /api/v1/config:
    get:
      deprecated: true
      operationId: getConfig
      tags:
        - dyncfg
      description: |
        Get dynamic configuration information.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - name: action
          in: query
          description: The type of information required
          schema:
            type: string
            enum:
              - tree
              - schema
              - get
              - enable
              - disable
              - restart
            default: tree
        - name: id
          in: query
          description: The ID of the dynamic configuration entity
          schema:
            type: string
        - name: path
          in: query
          description: Top level path of the configuration entities, used with action 'tree'
          schema:
            type: string
            default: '/'
        - name: timeout
          in: query
          description: The timeout in seconds
          schema:
            type: number
            default: 120
      responses:
        "200":
          description: The call was successful.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/config_default_response'
                  - $ref: '#/components/schemas/config_tree'
                  - $ref: "#/components/schemas/config_schema"
        "400":
          description: Something is wrong with the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/config_default_response'
        "404":
          description: The configurable entity requests is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/config_default_response'
    post:
      operationId: postConfig
      tags:
        - dyncfg
      description: |
        Post dynamic configuration to Netdata.
      parameters:
        - name: action
          in: query
          description: The type of action required.
          schema:
            type: string
            enum:
              - add
              - test
              - update
        - name: id
          in: query
          description: The ID of the dynamic configuration entity to configure.
          schema:
            type: string
        - name: name
          in: query
          description: Name of the dynamic configuration entity, used with action 'add'
          schema:
            type: string
        - name: timeout
          in: query
          description: The timeout in seconds
          schema:
            type: number
            default: 120
      responses:
        "200":
          description: The call was successful. This also means the configuration is currently running.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/config_default_response'
        "202":
          description: The call was successful. The configuration has been accepted, but its status is not yet known.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/config_default_response'
        "299":
          description: The call was successful. The configuration has been accepted, but a restart is required to apply it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/config_default_response'
        "400":
          description: Something is wrong with the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/config_default_response'
        "404":
          description: The configurable entity requests is not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/config_default_response'
  /api/v2/data:
    get:
      deprecated: true
      operationId: dataQuery2
      tags:
        - data
      summary: Data Query v2
      description: |
        Multi-node, multi-context, multi-instance, multi-dimension data queries, with time and metric aggregation.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - name: group_by
          in: query
          description: |
            A comma separated list of the groupings required.
            All possible values can be combined together, except `selected`. If `selected` is given in the list, all others are ignored.
            The order they are placed in the list is currently ignored.
            This parameter is also accepted as `group_by[0]` and `group_by[1]` when multiple grouping passes are required.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - dimension
                - instance
                - percentage-of-instance
                - label
                - node
                - context
                - units
                - selected
            default:
              - dimension
        - name: group_by_label
          in: query
          description: |
            A comma separated list of the label keys to group by their values. The order of the labels in the list is respected.
            This parameter is also accepted as `group_by_label[0]` and `group_by_label[1]` when multiple grouping passes are required.
          required: false
          schema:
            type: string
            format: comma separated list of label keys to group by
            default: ""
        - name: aggregation
          in: query
          description: |
            The aggregation function to apply when grouping metrics together.
            When option `raw` is given, `average` and `avg` behave like `sum` and the caller is expected to calculate the average.
            This parameter is also accepted as `aggregation[0]` and `aggregation[1]` when multiple grouping passes are required.
          required: false
          schema:
            type: string
            enum:
              - min
              - max
              - avg
              - average
              - sum
              - percentage
              - extremes
            default: average
        - $ref: '#/components/parameters/scopeNodes'
        - $ref: '#/components/parameters/scopeContexts'
        - $ref: '#/components/parameters/scopeInstances'
        - $ref: '#/components/parameters/scopeLabels'
        - $ref: '#/components/parameters/scopeDimensions'
        - $ref: '#/components/parameters/filterNodes'
        - $ref: '#/components/parameters/filterContexts'
        - $ref: '#/components/parameters/filterInstances'
        - $ref: '#/components/parameters/filterLabels'
        - $ref: '#/components/parameters/filterAlerts'
        - $ref: '#/components/parameters/filterDimensions'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
        - $ref: '#/components/parameters/points'
        - $ref: '#/components/parameters/tier'
        - $ref: '#/components/parameters/dataQueryOptions'
        - $ref: '#/components/parameters/dataTimeGroup2'
        - $ref: '#/components/parameters/dataTimeGroupOptions2'
        - $ref: '#/components/parameters/dataTimeResampling2'
        - $ref: '#/components/parameters/dataFormat2'
        - $ref: '#/components/parameters/cardinalityLimit'
        - $ref: '#/components/parameters/timeoutMS'
        - $ref: '#/components/parameters/callback'
        - $ref: '#/components/parameters/filename'
        - $ref: '#/components/parameters/tqx'
      responses:
        "200":
          description: |
            The call was successful. The response includes the data in the format requested.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/jsonwrap2'
                  - $ref: '#/components/schemas/data_json_formats2'
            text/plain:
              schema:
                type: string
                format: according to the format requested.
            text/html:
              schema:
                type: string
                format: html
            application/x-javascript:
              schema:
                type: string
                format: javascript
        "400":
          description: |
            Bad request - the body will include a message stating what is wrong.
        "500":
          description: |
            Internal server error. This usually means the server is out of memory.
  /api/v3/data:
    get:
      operationId: dataQuery3
      tags:
        - data
      summary: Data Query v3
      description: |
        Multi-node, multi-context, multi-instance, multi-dimension data queries, with time and metric aggregation.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - name: group_by
          in: query
          description: |
            A comma separated list of the groupings required.
            All possible values can be combined together, except `selected`. If `selected` is given in the list, all others are ignored.
            The order they are placed in the list is currently ignored.
            This parameter is also accepted as `group_by[0]` and `group_by[1]` when multiple grouping passes are required.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - dimension
                - instance
                - percentage-of-instance
                - label
                - node
                - context
                - units
                - selected
            default:
              - dimension
        - name: group_by_label
          in: query
          description: |
            A comma separated list of the label keys to group by their values. The order of the labels in the list is respected.
            This parameter is also accepted as `group_by_label[0]` and `group_by_label[1]` when multiple grouping passes are required.
          required: false
          schema:
            type: string
            format: comma separated list of label keys to group by
            default: ""
        - name: aggregation
          in: query
          description: |
            The aggregation function to apply when grouping metrics together.
            When option `raw` is given, `average` and `avg` behave like `sum` and the caller is expected to calculate the average.
            This parameter is also accepted as `aggregation[0]` and `aggregation[1]` when multiple grouping passes are required.
          required: false
          schema:
            type: string
            enum:
              - min
              - max
              - avg
              - average
              - sum
              - percentage
              - extremes
            default: average
        - $ref: '#/components/parameters/scopeNodes'
        - $ref: '#/components/parameters/scopeContexts'
        - $ref: '#/components/parameters/scopeInstances'
        - $ref: '#/components/parameters/scopeLabels'
        - $ref: '#/components/parameters/scopeDimensions'
        - $ref: '#/components/parameters/filterNodes'
        - $ref: '#/components/parameters/filterContexts'
        - $ref: '#/components/parameters/filterInstances'
        - $ref: '#/components/parameters/filterLabels'
        - $ref: '#/components/parameters/filterAlerts'
        - $ref: '#/components/parameters/filterDimensions'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
        - $ref: '#/components/parameters/points'
        - $ref: '#/components/parameters/tier'
        - $ref: '#/components/parameters/dataQueryOptions'
        - $ref: '#/components/parameters/dataTimeGroup2'
        - $ref: '#/components/parameters/dataTimeGroupOptions2'
        - $ref: '#/components/parameters/dataTimeResampling2'
        - $ref: '#/components/parameters/dataFormat2'
        - $ref: '#/components/parameters/cardinalityLimit'
        - $ref: '#/components/parameters/timeoutMS'
        - $ref: '#/components/parameters/callback'
        - $ref: '#/components/parameters/filename'
        - $ref: '#/components/parameters/tqx'
      responses:
        "200":
          description: |
            The call was successful. The response includes the data in the format requested.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/jsonwrap2'
                  - $ref: '#/components/schemas/data_json_formats2'
            text/plain:
              schema:
                type: string
                format: according to the format requested.
            text/html:
              schema:
                type: string
                format: html
            application/x-javascript:
              schema:
                type: string
                format: javascript
        "400":
          description: |
            Bad request - the body will include a message stating what is wrong.
        "500":
          description: |
            Internal server error. This usually means the server is out of memory.
  /api/v1/data:
    get:
      deprecated: true
      operationId: dataQuery1
      tags:
        - data
      summary: Data Query v1 - Single node, single chart or context queries. without group-by.
      description: |
        Query metric data of a chart or context of a node and return a dataset having time-series data for all dimensions available.
        For group-by functionality, use `/api/v2/data`.
        At least a `chart` or a `context` have to be given for the data query to be executed.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/chart'
        - $ref: '#/components/parameters/context'
        - $ref: '#/components/parameters/dimension'
        - $ref: '#/components/parameters/chart_label_key'
        - $ref: '#/components/parameters/chart_labels_filter'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
        - $ref: '#/components/parameters/points'
        - $ref: '#/components/parameters/tier'
        - $ref: '#/components/parameters/dataQueryOptions'
        - $ref: '#/components/parameters/dataFormat1'
        - $ref: '#/components/parameters/dataTimeGroup1'
        - $ref: '#/components/parameters/dataTimeGroupOptions1'
        - $ref: '#/components/parameters/dataTimeResampling1'
        - $ref: '#/components/parameters/timeoutMS'
        - $ref: '#/components/parameters/callback'
        - $ref: '#/components/parameters/filename'
        - $ref: '#/components/parameters/tqx'
      responses:
        "200":
          description: |
            The call was successful. The response includes the data in the format requested.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/jsonwrap1'
                  - $ref: '#/components/schemas/data_json_formats1'
            text/plain:
              schema:
                type: string
                format: according to the format requested.
            text/html:
              schema:
                type: string
                format: html
            application/x-javascript:
              schema:
                type: string
                format: javascript
        "400":
          description: Bad request - the body will include a message stating what is wrong.
        "404":
          description: Chart or context is not found. The supplied chart or context will be reported.
        "500":
          description: Internal server error. This usually means the server is out of
            memory.
  /api/v1/allmetrics:
    get:
      deprecated: true
      operationId: allMetrics1
      tags:
        - data
      summary: All Metrics v1 - Fetch latest value for all metrics
      description: |
        The `allmetrics` endpoint returns the latest value of all metrics maintained for a netdata node.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - name: format
          in: query
          description: The format of the response to be returned.
          required: true
          schema:
            type: string
            enum:
              - shell
              - prometheus
              - prometheus_all_hosts
              - json
            default: shell
        - name: filter
          in: query
          description: Allows to filter charts out using simple patterns.
          required: false
          schema:
            type: string
            format: any text
        - name: variables
          in: query
          description: |
            When enabled, netdata will expose various system configuration variables.
          required: false
          schema:
            type: string
            enum:
              - yes
              - no
            default: no
        - name: timestamps
          in: query
          description: |
            Enable or disable timestamps in prometheus output.
          required: false
          schema:
            type: string
            enum:
              - yes
              - no
            default: yes
        - name: names
          in: query
          description: |
            When enabled netdata will report dimension names. When disabled netdata will report dimension IDs. The default is controlled in netdata.conf.
          required: false
          schema:
            type: string
            enum:
              - yes
              - no
            default: yes
        - name: oldunits
          in: query
          description: |
            When enabled, netdata will show metric names for the default `source=average` as they appeared before 1.12, by using the legacy unit naming conventions.
          required: false
          schema:
            type: string
            enum:
              - yes
              - no
            default: yes
        - name: hideunits
          in: query
          description: |
            When enabled, netdata will not include the units in the metric names, for the default `source=average`.
          required: false
          schema:
            type: string
            enum:
              - yes
              - no
            default: yes
        - name: server
          in: query
          description: |
            Set a distinct name of the client querying prometheus metrics. Netdata will use the client IP if this is not set.
          required: false
          schema:
            type: string
            format: any text
        - name: prefix
          in: query
          description: |
            Prefix all prometheus metrics with this string.
          required: false
          schema:
            type: string
            format: any text
        - name: data
          in: query
          description: |
            Select the prometheus response data source. There is a setting in netdata.conf for the default.
          required: false
          schema:
            type: string
            enum:
              - as-collected
              - average
              - sum
            default: average
      responses:
        "200":
          description: All the metrics returned in the format requested.
        "400":
          description: The format requested is not supported.
  /api/v1/badge.svg:
    get:
      deprecated: true
      operationId: badge1
      tags:
        - badges
      summary: Generate a badge in form of SVG image for a chart (or dimension)
      description: Successful responses are SVG images.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow badges from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/chart'
        - $ref: '#/components/parameters/dimension'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
        - $ref: '#/components/parameters/dataTimeGroup1'
        - $ref: '#/components/parameters/dataQueryOptions'
        - name: alarm
          in: query
          description: The name of an alarm linked to the chart.
          required: false
          allowEmptyValue: true
          schema:
            type: string
            format: any text
        - name: label
          in: query
          description: A text to be used as the label.
          required: false
          allowEmptyValue: true
          schema:
            type: string
            format: any text
        - name: units
          in: query
          description: A text to be used as the units.
          required: false
          allowEmptyValue: true
          schema:
            type: string
            format: any text
        - name: label_color
          in: query
          description: |
            A color to be used for the background of the label side(left side) of the badge. One of predefined colors or specific color in hex `RGB` or `RRGGBB` format (without preceding `#` character). If value wrong or not given default color will be used.
          required: false
          allowEmptyValue: true
          schema:
            oneOf:
              - type: string
                enum:
                  - green
                  - brightgreen
                  - yellow
                  - yellowgreen
                  - orange
                  - red
                  - blue
                  - grey
                  - gray
                  - lightgrey
                  - lightgray
              - type: string
                format: ^([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$
        - name: value_color
          in: query
          description: |
            A color to be used for the background of the value *(right)* part of badge. You can set multiple using a pipe with a condition each, like this: `color<value|color:null` The following operators are supported: >, <, >=, <=, =, :null (to check if no value exists). Each color can be specified in same manner as for `label_color` parameter. Currently only integers are supported as values.
          required: false
          allowEmptyValue: true
          schema:
            type: string
            format: any text
        - name: text_color_lbl
          in: query
          description: |
            Font color for label *(left)* part of the badge. One of predefined colors or as HTML hexadecimal color without preceding `#` character. Formats allowed `RGB` or `RRGGBB`. If no or wrong value given default color will be used.
          required: false
          allowEmptyValue: true
          schema:
            oneOf:
              - type: string
                enum:
                  - green
                  - brightgreen
                  - yellow
                  - yellowgreen
                  - orange
                  - red
                  - blue
                  - grey
                  - gray
                  - lightgrey
                  - lightgray
              - type: string
                format: ^([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$
        - name: text_color_val
          in: query
          description: |
            Font color for value *(right)* part of the badge. One of predefined colors or as HTML hexadecimal color without preceding `#` character. Formats allowed `RGB` or `RRGGBB`. If no or wrong value given default color will be used.
          required: false
          allowEmptyValue: true
          schema:
            oneOf:
              - type: string
                enum:
                  - green
                  - brightgreen
                  - yellow
                  - yellowgreen
                  - orange
                  - red
                  - blue
                  - grey
                  - gray
                  - lightgrey
                  - lightgray
              - type: string
                format: ^([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$
        - name: multiply
          in: query
          description: Multiply the value with this number for rendering it at the image
            (integer value required).
          required: false
          allowEmptyValue: true
          schema:
            type: number
            format: integer
        - name: divide
          in: query
          description: Divide the value with this number for rendering it at the image
            (integer value required).
          required: false
          allowEmptyValue: true
          schema:
            type: number
            format: integer
        - name: scale
          in: query
          description: Set the scale of the badge (greater or equal to 100).
          required: false
          allowEmptyValue: true
          schema:
            type: number
            format: integer
        - name: fixed_width_lbl
          in: query
          description: |
            This parameter overrides auto-sizing of badge and creates it with fixed width. This parameter determines the size of the label's left side *(label/name)*. You must set this parameter together with `fixed_width_val` otherwise it will be ignored. You should set the label/value widths wide enough to provide space for all the possible values/contents of the badge you're requesting. In case the text cannot fit the space given it will be clipped. The `scale` parameter still applies on the values you give to `fixed_width_lbl` and `fixed_width_val`.
          required: false
          allowEmptyValue: false
          schema:
            type: number
            format: integer
        - name: fixed_width_val
          in: query
          description: |
            This parameter overrides auto-sizing of badge and creates it with fixed width. This parameter determines the size of the label's right side *(value)*. You must set this parameter together with `fixed_width_lbl` otherwise it will be ignored. You should set the label/value widths wide enough to provide space for all the possible values/contents of the badge you're requesting. In case the text cannot fit the space given it will be clipped. The `scale` parameter still applies on the values you give to `fixed_width_lbl` and `fixed_width_val`.
          required: false
          allowEmptyValue: false
          schema:
            type: number
            format: integer
        - name: points
          in: query
          description: The number of points to use for the calculation. Default is 1.
          required: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 1
        - name: group_options
          in: query
          description: Additional options for the grouping function.
          required: false
          allowEmptyValue: true
          schema:
            type: string
        - name: precision
          in: query
          description: Number of decimal places to show in the value. Default is -1 (automatic).
          required: false
          allowEmptyValue: true
          schema:
            type: integer
            default: -1
        - name: refresh
          in: query
          description: |
            Auto-refresh interval in seconds. Use "auto" to automatically determine refresh interval based on the time range or alarm update frequency. For alarms, defaults to the alarm's update_every. For charts with RRDR_OPTION_NOT_ALIGNED, defaults to the chart's update_every. Otherwise calculated from the time range (before - after).
          required: false
          allowEmptyValue: true
          schema:
            oneOf:
              - type: string
                enum: [auto]
              - type: integer
                minimum: 0
      responses:
        "200":
          description: The call was successful. The response should be an SVG image.
        "400":
          description: Bad request - the body will include a message stating what is wrong.
        "404":
          description: No chart with the given id is found.
        "500":
          description: Internal server error. This usually means the server is out of
            memory.
  /api/v3/badge.svg:
    get:
      operationId: badge3
      tags:
        - badges
      summary: Generate a badge in form of SVG image for a chart (or dimension) - Latest API
      description: |
        Generates an SVG badge displaying real-time metric values from Netdata charts or alarms.
        This is the latest version (v3) of the badge API. It provides the same functionality as v1 but may include additional features in the future.

        The badge can display:
        - Current value of a chart dimension
        - Current status and value of an alarm
        - Custom labels and units
        - Dynamic colors based on value thresholds or alarm status

        Successful responses are SVG images that can be embedded in web pages or documentation.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow badges from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/chart'
        - $ref: '#/components/parameters/dimension'
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
        - $ref: '#/components/parameters/dataTimeGroup1'
        - $ref: '#/components/parameters/dataQueryOptions'
        - name: alarm
          in: query
          description: The name of an alarm linked to the chart. When specified, the badge will display the alarm's current value and use alarm status for color selection.
          required: false
          allowEmptyValue: true
          schema:
            type: string
        - name: label
          in: query
          description: |
            Custom text to use as the badge label (left side). If not specified:
            - For alarms: uses the alarm name (with underscores replaced by spaces)
            - For dimensions: uses the dimension name
            - Otherwise: uses the chart name
          required: false
          allowEmptyValue: true
          schema:
            type: string
        - name: units
          in: query
          description: |
            Custom text to use as the units suffix. If not specified:
            - For alarms: uses the alarm's configured units or empty string
            - For percentage queries: uses "%"
            - Otherwise: uses the chart's units
          required: false
          allowEmptyValue: true
          schema:
            type: string
        - name: label_color
          in: query
          description: |
            Background color for the label (left) side of the badge. Can be:
            - One of the predefined color names
            - Hex RGB format (3 digits): e.g., "f00" for red
            - Hex RRGGBB format (6 digits): e.g., "ff0000" for red
            Note: Do not include the '#' character. If value is invalid, default color will be used.
          required: false
          allowEmptyValue: true
          schema:
            oneOf:
              - type: string
                enum: [green, brightgreen, yellow, yellowgreen, orange, red, blue, grey, gray, lightgrey, lightgray]
              - type: string
                format: ^([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$
        - name: value_color
          in: query
          description: |
            Background color for the value (right) side of the badge. Supports conditional coloring based on the value.

            Can be specified as:
            - Simple color: Same format as label_color
            - Conditional: Multiple color rules separated by pipe (|), each with format: `color<operator>value`

            Supported operators:
            - `>`: greater than
            - `<`: less than
            - `>=`: greater than or equal
            - `<=`: less than or equal
            - `=`: equal to
            - `:null`: true when no value exists

            Example: `green<80|yellow<95|red` (green if value < 80, yellow if < 95, otherwise red)

            Note: Currently only integers are supported as values. Colors follow same format as label_color.
          required: false
          allowEmptyValue: true
          schema:
            type: string
        - name: text_color_lbl
          in: query
          description: |
            Font color for the label (left) side text. Can be:
            - One of the predefined color names
            - Hex RGB or RRGGBB format without '#' character
            If not specified or invalid, default color will be used.
          required: false
          allowEmptyValue: true
          schema:
            oneOf:
              - type: string
                enum: [green, brightgreen, yellow, yellowgreen, orange, red, blue, grey, gray, lightgrey, lightgray]
              - type: string
                format: ^([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$
        - name: text_color_val
          in: query
          description: |
            Font color for the value (right) side text. Can be:
            - One of the predefined color names
            - Hex RGB or RRGGBB format without '#' character
            If not specified or invalid, default color will be used.
          required: false
          allowEmptyValue: true
          schema:
            oneOf:
              - type: string
                enum: [green, brightgreen, yellow, yellowgreen, orange, red, blue, grey, gray, lightgrey, lightgray]
              - type: string
                format: ^([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$
        - name: multiply
          in: query
          description: |
            Multiply the displayed value by this number before rendering. Integer value required.
            Useful for unit conversions or scaling. Default is 1.
          required: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 1
        - name: divide
          in: query
          description: |
            Divide the displayed value by this number before rendering. Integer value required.
            Useful for unit conversions or scaling. Default is 1.
          required: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 1
        - name: scale
          in: query
          description: |
            Scale factor for the badge size as a percentage. Must be >= 100.
            - 100 = normal size (default)
            - 150 = 1.5x larger
            - 200 = 2x larger
          required: false
          allowEmptyValue: true
          schema:
            type: integer
            minimum: 100
            default: 100
        - name: fixed_width_lbl
          in: query
          description: |
            Fixed width for the label (left) side in pixels. Must be used together with `fixed_width_val`.

            This overrides automatic sizing and creates a badge with fixed dimensions. Ensure the width is sufficient for your content - text that doesn't fit will be clipped.

            The `scale` parameter still applies to these fixed width values.
          required: false
          allowEmptyValue: false
          schema:
            type: integer
        - name: fixed_width_val
          in: query
          description: |
            Fixed width for the value (right) side in pixels. Must be used together with `fixed_width_lbl`.

            This overrides automatic sizing and creates a badge with fixed dimensions. Ensure the width is sufficient for your content - text that doesn't fit will be clipped.

            The `scale` parameter still applies to these fixed width values.
          required: false
          allowEmptyValue: false
          schema:
            type: integer
        - name: points
          in: query
          description: |
            Number of data points to use for the calculation. Default is 1.
            Higher values provide averaging over more samples.
          required: false
          allowEmptyValue: true
          schema:
            type: integer
            default: 1
        - name: group_options
          in: query
          description: Additional options for the time-series grouping function. Format depends on the selected group method.
          required: false
          allowEmptyValue: true
          schema:
            type: string
        - name: precision
          in: query
          description: |
            Number of decimal places to display in the value.
            - Positive number: exact decimal places (e.g., 2 = "12.34")
            - -1 (default): automatic precision based on value magnitude
          required: false
          allowEmptyValue: true
          schema:
            type: integer
            default: -1
        - name: refresh
          in: query
          description: |
            Auto-refresh interval for the badge. Can be:
            - "auto": Automatically determine refresh based on context
              - For alarms: uses the alarm's update_every interval
              - For non-aligned charts: uses the chart's update_every
              - For time-range queries: uses the query time span
            - Integer: Specific refresh interval in seconds

            When refresh is set, the response includes a Refresh HTTP header.
          required: false
          allowEmptyValue: true
          schema:
            oneOf:
              - type: string
                enum: [auto]
              - type: integer
                minimum: 0
      responses:
        "200":
          description: |
            Success. The response is an SVG image that can be embedded in HTML or Markdown.

            When refresh parameter is set, the response includes:
            - Refresh header with the interval
            - Appropriate Cache-Control headers
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
        "400":
          description: |
            Bad request. The response body contains an error message explaining what is wrong.
            Common causes:
            - Missing required 'chart' parameter
            - Invalid parameter values
        "404":
          description: |
            Not found. Possible causes:
            - Chart with the specified ID does not exist
            - Specified alarm does not exist on the chart
        "500":
          description: Internal server error. Usually indicates the server is out of memory.
  /api/v3/allmetrics:
    get:
      operationId: allMetrics3
      tags:
        - data
      summary: All Metrics v3 - Export all metrics in various formats - Latest API
      description: |
        The `allmetrics` endpoint exports the latest values of all metrics collected by Netdata in various formats suitable for integration with external monitoring systems, shell scripts, or APIs.

        This is the latest version (v3) of the allmetrics API. It provides the same functionality as v1 but may include additional features in the future.

        **Supported Export Formats:**
        - **shell**: Bash-compatible variable assignments for scripting (NETDATA_CHARTNAME_DIMENSIONNAME="value")
        - **prometheus**: Prometheus exposition format for a single host
        - **prometheus_all_hosts**: Prometheus format including metrics from all child nodes
        - **json**: JSON format with full chart and dimension metadata

        **Use Cases:**
        - Integration with Prometheus or other metric collectors
        - Shell script automation and monitoring
        - Custom metric exporters
        - Multi-host metric aggregation

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - name: format
          in: query
          description: |
            The export format for the metrics. Required parameter.

            **Formats:**
            - `shell`: Bash variables (default) - Exports as NETDATA_CHARTNAME_DIMENSIONNAME="value"
            - `prometheus`: Prometheus format (single host) - Compatible with Prometheus scraping
            - `prometheus_all_hosts`: Prometheus format (all hosts) - Includes metrics from child nodes with host labels
            - `json`: JSON format - Full metadata including chart names, families, contexts, units, and timestamps

            **Format Details:**
            - Shell format includes alarm status variables (NETDATA_ALARM_CHART_ALARM_STATUS, NETDATA_ALARM_CHART_ALARM_VALUE)
            - Prometheus formats respect Prometheus metric naming conventions
            - JSON format provides complete chart and dimension information
          required: true
          schema:
            type: string
            enum:
              - shell
              - prometheus
              - prometheus_all_hosts
              - json
            default: shell
        - name: filter
          in: query
          description: |
            Simple pattern filter to include only specific charts. Uses Netdata simple pattern matching.

            **Pattern Syntax:**
            - Exact match: `system.cpu`
            - Wildcard: `system.*` (all system charts)
            - Multiple patterns: `system.* disk.*` (space-separated)
            - Negation: `!system.cpu` (exclude specific chart)

            When not specified, all charts are exported.

            **Examples:**
            - `system.*` - Export only system charts
            - `disk.* net.*` - Export disk and network charts
            - `* !*.mdstat` - Export all except mdstat charts
          required: false
          schema:
            type: string
        - name: variables
          in: query
          description: |
            **Prometheus format only**: Include or exclude system configuration variables in the output.

            When enabled (yes/1/true), Netdata exposes various system configuration variables as Prometheus metrics. This includes:
            - Netdata configuration parameters
            - System environment information
            - Collection plugin states

            Note: Only affects Prometheus format output. Ignored for shell and json formats.
          required: false
          schema:
            type: string
            enum:
              - "yes"
              - "no"
              - "1"
              - "0"
              - "true"
              - "false"
            default: "no"
        - name: timestamps
          in: query
          description: |
            **Prometheus format only**: Include or exclude timestamps in Prometheus metrics.

            When enabled (default), each metric includes a timestamp of when it was collected.
            When disabled, metrics are exported without timestamps (Prometheus will use scrape time).

            Note: Only affects Prometheus format output. Ignored for shell and json formats.
          required: false
          schema:
            type: string
            enum:
              - "yes"
              - "no"
              - "1"
              - "0"
              - "true"
              - "false"
            default: "yes"
        - name: names
          in: query
          description: |
            **Prometheus format only**: Use dimension names vs IDs in metric names.

            When enabled (default), Prometheus metrics use human-readable dimension names.
            When disabled, metrics use dimension IDs (which never change).

            **Example:**
            - names=yes: `netdata_system_cpu_percentage_average{dimension="user"}`
            - names=no: `netdata_system_cpu_percentage_average{dimension="user"}`

            The default is controlled by the global Netdata configuration. This parameter allows per-request override.

            Note: Only affects Prometheus format output.
          required: false
          schema:
            type: string
            enum:
              - "yes"
              - "no"
              - "1"
              - "0"
              - "true"
              - "false"
        - name: oldunits
          in: query
          description: |
            **Prometheus format only**: Use legacy unit naming conventions (pre-1.12 format).

            When enabled, metric names for `source=average` use the old unit naming conventions as they appeared before Netdata version 1.12.

            This is provided for backward compatibility with existing Prometheus configurations.

            Note: Only affects Prometheus format with source=average.
          required: false
          schema:
            type: string
            enum:
              - "yes"
              - "no"
              - "1"
              - "0"
              - "true"
              - "false"
            default: "no"
        - name: hideunits
          in: query
          description: |
            **Prometheus format only**: Exclude units from metric names for source=average.

            When enabled, units are not included in the Prometheus metric names for the default `source=average` data.

            **Example:**
            - hideunits=no: `netdata_system_cpu_percentage_average`
            - hideunits=yes: `netdata_system_cpu_average`

            Note: Only affects Prometheus format with source=average.
          required: false
          schema:
            type: string
            enum:
              - "yes"
              - "no"
              - "1"
              - "0"
              - "true"
              - "false"
            default: "no"
        - name: server
          in: query
          description: |
            **Prometheus format only**: Set a custom identifier for the client scraping the metrics.

            This parameter is used to identify the client in Prometheus metric labels. If not specified, Netdata uses the client's IP address.

            Useful when multiple Prometheus instances scrape the same Netdata agent, or when scraping through a proxy.

            **Example:** `server=prometheus-prod-1`

            Note: Only affects Prometheus format output. This value appears in metric labels to distinguish scraping sources.
          required: false
          schema:
            type: string
        - name: prefix
          in: query
          description: |
            **Prometheus format only**: Prefix all Prometheus metric names with a custom string.

            Useful for namespacing metrics when aggregating from multiple sources or to comply with organizational metric naming conventions.

            **Example:** `prefix=mycompany_` produces metrics like `mycompany_system_cpu_percentage_average`

            The default prefix is controlled by the global Netdata configuration. This parameter allows per-request override.

            Note: Only affects Prometheus format output.
          required: false
          schema:
            type: string
        - name: data
          in: query
          description: |
            **Prometheus format only**: Select the data source/aggregation method for Prometheus metrics.

            **Options:**
            - `as-collected`: Raw values as collected by data collection plugins (no aggregation)
            - `average`: Average values over the collection interval (default)
            - `sum`: Sum of values over the collection interval

            The `as-collected` source provides the most recent raw sample, while `average` and `sum` provide values aggregated over the chart's update interval.

            The default is controlled by the global Netdata exporting configuration. This parameter allows per-request override.

            **Use Cases:**
            - `as-collected`: For counter metrics that Prometheus will rate()
            - `average`: For gauge metrics showing typical values
            - `sum`: For accumulating metrics

            Aliases: `source`, `data source`, `data-source`, `data_source`, `datasource`

            Note: Only affects Prometheus format output.
          required: false
          schema:
            type: string
            enum:
              - as-collected
              - average
              - sum
            default: average
      responses:
        "200":
          description: |
            Success. Metrics exported in the requested format.

            **Content Types:**
            - shell: text/plain
            - json: application/json
            - prometheus/prometheus_all_hosts: application/openmetrics-text (Prometheus format)

            **Response Characteristics:**
            - Shell format: Variables ready for sourcing in bash scripts
            - JSON format: Complete chart metadata with current values
            - Prometheus format: Ready for Prometheus scraping

            The response is not cacheable as it contains current metric values.
          content:
            text/plain:
              schema:
                type: string
                description: Shell format output (when format=shell)
            application/json:
              schema:
                type: object
                description: JSON format output (when format=json)
            application/openmetrics-text:
              schema:
                type: string
                description: Prometheus format output (when format=prometheus or prometheus_all_hosts)
        "400":
          description: |
            Bad request. The response body contains an error message.

            Common causes:
            - Invalid or missing 'format' parameter
            - Unsupported format value
            - Invalid filter pattern syntax
        "500":
          description: Internal server error. Usually indicates the server is out of memory or a collection plugin has crashed.
  /api/v3/alerts:
    get:
      operationId: alerts3
      tags:
        - alerts
      summary: Current Alert Status - Multi-node Alert Information - Latest API
      description: |
        Returns the current status of all alerts across all nodes monitored by this Netdata agent.

        This is the latest version (v3) of the alerts API. It provides the same functionality as v2 but may include additional features in the future.

        **What This API Provides:**
        - Current state of all active, warning, and critical alerts
        - Alert values and thresholds
        - Alert configuration summaries
        - Multi-node alert aggregation
        - Filtering by alert name, context, node, or status

        **Use Cases:**
        - Dashboard alert widgets showing current system health
        - Alert management interfaces
        - Integration with external alerting systems
        - Monitoring alert coverage across infrastructure
        - Finding all alerts in specific states (warning/critical)

        **Response Content:**
        The response includes comprehensive information about alerts including their current values, configured thresholds, time in current state, and associated context/chart information.

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/scopeNodes'
        - $ref: '#/components/parameters/scopeContexts'
        - $ref: '#/components/parameters/filterNodes'
        - $ref: '#/components/parameters/filterContexts'
        - name: alert
          in: query
          description: |
            Filter alerts by alert name pattern. Uses Netdata simple pattern matching.

            **Pattern Syntax:**
            - Exact match: `cpu_usage`
            - Wildcard: `cpu_*` (all CPU-related alerts)
            - Multiple patterns: `cpu_* ram_*` (space-separated)
            - Negation: `!cpu_usage` (all except this alert)

            **Common Alert Names:**
            - `ram_in_use` - RAM utilization
            - `disk_space_usage` - Disk space
            - `10min_cpu_usage` - CPU usage over 10 minutes
            - `tcp_listen_overflows` - TCP connection queue overflows
            - `disk_backlog` - Disk I/O backlog

            When not specified, all alerts are included.

            **Examples:**
            - `alert=ram_in_use` - Only RAM usage alert
            - `alert=*cpu*` - All CPU-related alerts
            - `alert=* !*_critical` - All alerts except those ending with _critical
          required: false
          schema:
            type: string
          examples:
            single:
              value: "ram_in_use"
              summary: Single alert
            pattern:
              value: "*cpu*"
              summary: All CPU alerts
        - name: status
          in: query
          description: |
            Filter alerts by their current status. Can specify multiple statuses.

            **Alert Statuses:**
            - `CRITICAL` - Alert is in critical state (highest severity)
            - `WARNING` - Alert is in warning state
            - `CLEAR` - Alert is in normal state (not triggered)
            - `UNDEFINED` - Alert could not be evaluated (e.g., division by zero, missing data)
            - `UNINITIALIZED` - Alert has not been evaluated yet (no data collected)

            **Multiple Statuses:**
            To show multiple statuses, separate them with commas: `status=CRITICAL,WARNING`

            **Use Cases:**
            - `status=CRITICAL` - Show only critical alerts requiring immediate attention
            - `status=CRITICAL,WARNING` - Show all alerts that need attention
            - `status=CLEAR` - Show alerts that are currently in normal state
            - Not specified - Show alerts in all states

            **Default:** When not specified, typically returns only alerts in WARNING or CRITICAL state (this depends on options parameter).
          required: false
          schema:
            type: string
          examples:
            critical_only:
              value: "CRITICAL"
              summary: Only critical alerts
            needs_attention:
              value: "CRITICAL,WARNING"
              summary: All alerts needing attention
            all_states:
              value: "CRITICAL,WARNING,CLEAR,UNDEFINED,UNINITIALIZED"
              summary: All alert states
        - name: options
          in: query
          description: |
            Comma or pipe-separated list of options to control response content.

            **Alert-Specific Options:**
            - `summary` - Include summary counters (total alerts, by status, by type)

            **General Options:**
            - `contexts` - Include context information
            - `instances` - Include alert instance details
            - `values` - Include current alert values
            - `configurations` - Include alert configuration details

            **Examples:**
            - `options=summary` - Include alert count summaries
            - `options=summary,values` - Summaries and current values
            - `options=summary|configurations` - Summaries and configs (pipe separator)

            When not specified, returns basic alert information without detailed configs or summaries.
          required: false
          schema:
            type: string
          examples:
            basic:
              value: "summary"
              summary: With summary counters
            detailed:
              value: "summary,values,configurations"
              summary: Complete alert information
        - $ref: '#/components/parameters/after'
        - $ref: '#/components/parameters/before'
        - name: timeout
          in: query
          description: |
            Maximum time in milliseconds to wait for the query to complete.

            This is useful for preventing long-running queries from blocking when querying large infrastructures with many nodes and alerts.

            **Format:** Integer (milliseconds)

            **Default:** Server default timeout (typically 30000ms = 30 seconds)

            **Examples:**
            - `timeout=5000` - 5 second timeout
            - `timeout=60000` - 60 second timeout

            When the timeout is exceeded, the server returns a partial result with whatever data was collected before the timeout.
          required: false
          schema:
            type: integer
            format: int64
            minimum: 1000
          example: 30000
        - name: cardinality
          in: query
          description: |
            Limit the number of alert instances returned to prevent response explosion.

            When monitoring large infrastructures, some alert types may have hundreds or thousands of instances (e.g., disk space alerts for every disk on every node).

            This parameter limits the number of unique alert instances in the response.

            **Format:** Integer (maximum number of alert instances)

            **Default:** No limit

            **Use Cases:**
            - Preventing huge responses when there are many alert instances
            - Getting a sample of alerts rather than complete list
            - Dashboard widgets with limited display space

            **Example:**
            - `cardinality=100` - Return at most 100 alert instances

            **Alias:** Can also be specified as `cardinality_limit`

            When the limit is exceeded, the response may indicate how many alerts were omitted.
          required: false
          schema:
            type: integer
            minimum: 1
          example: 100
      responses:
        "200":
          description: |
            Success. Returns current alert status information.

            **Response Structure:**
            - Summary counters (when options=summary): counts by status, type, classification
            - Alert instances with their current states
            - Alert values and thresholds (when options=values)
            - Alert configurations (when options=configurations)
            - Node and context associations

            The response is grouped by contexts and includes metadata about each alert including its current status, value, time in current state, and associated chart/dimension.

            **Response Characteristics:**
            - JSON format
            - Not cacheable (alerts change frequently)
            - May include partial results if timeout is exceeded
            - Cardinality-limited if specified
          content:
            application/json:
              schema:
                type: object
                description: Multi-node alert status information
        "400":
          description: |
            Bad request. Common causes:
            - Invalid parameter values
            - Malformed filter patterns
            - Invalid status values
            - Invalid timeout or cardinality values
        "500":
          description: Internal server error. Usually indicates the server is out of memory.
  /api/v3/alert_transitions:
    get:
      operationId: alert_transitions_v3
      tags:
        - alerts
      summary: Retrieve alert state transition history across all nodes with advanced filtering
      description: |
        Returns the historical record of alert state changes (transitions) across the monitored infrastructure. This endpoint provides detailed information about when alerts changed state (e.g., from CLEAR to WARNING to CRITICAL), allowing you to analyze alert patterns, investigate incidents, and understand system behavior over time.

        **What is an Alert Transition?**
        An alert transition is a record of an alert changing from one state to another. Each transition includes:
        - Previous and new alert status (CLEAR, WARNING, CRITICAL, etc.)
        - When the transition occurred
        - How long the alert stayed in the previous state (duration)
        - Alert value at the time of transition
        - Complete alert metadata (name, context, node, etc.)

        **Key Features:**
        - **Multi-Node Support:** Query transitions across entire infrastructure
        - **Advanced Filtering:** Filter by status, type, component, role, node, alert name, context
        - **Faceted Search:** Use multiple filter facets simultaneously (e.g., "CRITICAL status on database nodes")
        - **Pagination:** Navigate through large result sets using anchor_gi
        - **Time Range:** Specify exact time windows for historical analysis

        **Use Cases:**
        - Incident investigation: "What alerts fired during the outage?"
        - Alert pattern analysis: "How often does this alert transition to CRITICAL?"
        - Alert tuning: "Which alerts flap between states most frequently?"
        - Compliance reporting: "Show all CRITICAL alerts in the last 30 days"
        - Root cause analysis: "What changed before this alert fired?"

        **Faceted Filtering:**
        This endpoint supports 9 different facets for precise filtering:
        - f_status: Filter by alert status (CRITICAL, WARNING, etc.)
        - f_type: Filter by alert type (e.g., "System", "Database", "Network")
        - f_role: Filter by recipient role (who should be notified)
        - f_class: Filter by alert classification
        - f_component: Filter by system component
        - f_node: Filter by specific node hostname
        - f_alert: Filter by alert name
        - f_instance: Filter by chart instance name
        - f_context: Filter by metric context

        **Examples:**
        1. Recent critical transitions: `?last=100&f_status=CRITICAL`
        2. Database alerts: `?f_component=Database&after=-86400`
        3. Specific alert history: `?f_alert=disk_space_usage&last=50`
        4. Node-specific transitions: `?f_node=web-server-01&after=-604800`

        **Response Format:**
        Returns a JSON array of transition records, ordered by time (newest first by default). Each record includes complete transition metadata, alert details, and timing information.

        **Performance Considerations:**
        - Use time ranges (after/before) to limit query scope
        - Use cardinality limits for large result sets
        - Timeout parameter prevents long-running queries
        - Pagination via anchor_gi for processing large datasets

        **Security & Access Control:**
        - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply
        - **Default Access:** Public (no authentication required)
        - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token
        - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf
        - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools
      security:
        - {}
        - bearerAuth: []
      parameters:
        - name: scope_nodes
          in: query
          description: |
            Filter transitions to only include specific nodes using simple pattern matching.

            This parameter defines which nodes to include in the search using Netdata's simple pattern syntax (not regex).

            **Pattern Syntax:**
            - `*` matches any number of characters (including none)
            - `node1 node2` space-separated list matches any of the nodes
            - `!node3` exclude specific nodes (prefix with !)
            - Can combine inclusion and exclusion: `web* !web-test*`

            **Examples:**
            - `scope_nodes=web*` - All nodes starting with "web"
            - `scope_nodes=web* db*` - All web and database nodes
            - `scope_nodes=* !test*` - All nodes except test nodes
            - `scope_nodes=prod-web-01` - Specific node only

            **Use Cases:**
            - Focus on specific node groups (production vs staging)
            - Exclude test/development nodes from analysis
            - Investigate issues on specific infrastructure tiers

            When not specified, transitions from all nodes are included.
          required: false
          schema:
            type: string
          examples:
            all_web_nodes:
              value: "web*"
              summary: All web servers
            prod_only:
              value: "* !test* !dev*"
              summary: Production nodes only
        - name: nodes
          in: query
          description: |
            Filter transitions to specific nodes by their exact names.

            Unlike `scope_nodes` which supports patterns, this parameter requires exact node names. Multiple nodes are separated by comma or pipe.

            **Format:** Comma or pipe-separated list of exact node names

            **Examples:**
            - `nodes=web-server-01` - Single specific node
            - `nodes=web-server-01,web-server-02,db-server-01` - Multiple specific nodes
            - `nodes=web-server-01|web-server-02` - Pipe separator also works

            **Difference from scope_nodes:**
            - `scope_nodes`: Pattern matching, filters at query time
            - `nodes`: Exact names, more efficient for known node names

            **Best Practice:** Use `nodes` when you know exact node names, use `scope_nodes` for pattern-based filtering.

            When not specified, transitions from all nodes matching scope_nodes (or all nodes if scope_nodes is also not specified) are included.
          required: false
          schema:
            type: string
          example: "web-server-01,db-server-01"
        - name: scope_contexts
          in: query
          description: |
            Filter transitions to only include alerts from specific metric contexts using pattern matching.

            Contexts group similar metrics across instances (e.g., `system.cpu` groups CPU metrics from all nodes, `disk.io` groups disk I/O from all disks).

            **Pattern Syntax:**
            - `*` matches any number of characters
            - `context1 context2` space-separated list matches any of the contexts
            - `!context3` exclude specific contexts
            - Can combine: `system.* !system.io*`

            **Common Context Patterns:**
            - `system.*` - All system-level metrics
            - `disk.*` - All disk-related metrics
            - `net.*` - All network-related metrics
            - `mysql.*` - All MySQL metrics
            - `nginx.*` - All Nginx metrics

            **Examples:**
            - `scope_contexts=system.cpu` - Only CPU alerts
            - `scope_contexts=disk.* net.*` - All disk and network alerts
            - `scope_contexts=* !system.ip*` - All contexts except IP-related

            **Use Cases:**
            - Focus on specific subsystem (e.g., storage, network)
            - Exclude noisy alert types
            - Component-specific incident investigation

            When not specified, transitions from all contexts are included.
          required: false
          schema:
            type: string
          examples:
            disk_alerts:
              value: "disk.*"
              summary: All disk-related alerts
            critical_systems:
              value: "system.* disk.* net.*"
              summary: System, disk, and network alerts
        - name: contexts
          in: query
          description: |
            Filter transitions to specific contexts by their exact names.

            Unlike `scope_contexts` which supports patterns, this parameter requires exact context names.

            **Format:** Comma or pipe-separated list of exact context names

            **Examples:**
            - `contexts=system.cpu` - Single specific context
            - `contexts=system.cpu,system.load,system.ram` - Multiple contexts
            - `contexts=disk.space|disk.inodes` - Pipe separator

            **Difference from scope_contexts:**
            - `scope_contexts`: Pattern matching for flexible filtering
            - `contexts`: Exact names for precise filtering

            When not specified, transitions from all contexts matching scope_contexts are included.
          required: false
          schema:
            type: string
          example: "system.cpu,system.ram,disk.space"
        - name: alert
          in: query
          description: |
            Filter transitions to a specific alert by its exact name.

            Alert names are unique identifiers for specific alert configurations.

            **Format:** Exact alert name (case-sensitive)

            **Examples:**
            - `alert=disk_space_usage` - Transitions for disk space alert
            - `alert=cpu_usage` - Transitions for CPU usage alert
            - `alert=ram_in_use` - Transitions for RAM usage alert

            **Use Cases:**
            - Analyze history of a specific alert
            - Tune alert thresholds based on historical behavior
            - Investigate alert flapping (rapid state changes)
            - Track alert effectiveness

            **Tip:** To find available alert names, query `/api/v3/alerts` first or use the `/api/v3/alert_config` endpoint.

            When not specified, transitions for all alerts are included.
          required: false
          schema:
            type: string
          example: "disk_space_usage"
        - name: transition
          in: query
          description: |
            Filter to a specific transition by its unique identifier.

            Each transition has a unique ID (UUID). This parameter is rarely used but can retrieve exact transition records.

[...]
