{
  "openapi": "3.0.0",
  "info": {
    "title": "Netdata API",
    "description": "Real-time performance and health monitoring.\n\n## API Versions\n\nNetdata provides three API versions:\n- **v1**: The original API, focused on single-node operations\n- **v2**: Multi-node API with advanced grouping and aggregation capabilities\n- **v3**: The latest API version that combines v1 and v2 endpoints and may include additional features\n\n### v3 API Endpoints\n\nThe v3 API provides the current, actively maintained endpoints:\n- `/api/v3/data` - Multi-dimensional data queries\n- `/api/v3/weights` - Metric scoring/correlation\n- `/api/v3/contexts` - Context metadata\n- `/api/v3/nodes` - Node information\n- `/api/v3/q` - Full-text search\n- `/api/v3/alerts` - Alert information\n- `/api/v3/alert_transitions` - Alert state transitions\n- `/api/v3/alert_config` - Alert configuration\n- `/api/v3/functions` - Available functions\n- `/api/v3/function` - Execute functions\n- `/api/v3/info` - Agent information\n- `/api/v3/node_instances` - Node instance information\n- `/api/v3/stream_path` - Streaming topology\n- `/api/v3/versions` - Version information\n- `/api/v3/badge.svg` - Dynamic badges\n- `/api/v3/allmetrics` - Export metrics\n- `/api/v3/context` - Single context info\n- `/api/v3/variable` - Variable information\n- `/api/v3/config` - Dynamic configuration\n- `/api/v3/settings` - Agent settings\n- `/api/v3/me` - Current user information\n- `/api/v3/claim` - Agent claiming\n- Additional management and streaming endpoints\n\n**Note:** V1 and V2 APIs are deprecated and maintained for backwards compatibility only. New integrations should use V3 exclusively.\n",
    "version": "v1-rolling",
    "contact": {
      "name": "Netdata Agent API",
      "email": "info@netdata.cloud",
      "url": "https://netdata.cloud"
    },
    "license": {
      "name": "GPL v3+",
      "url": "https://github.com/netdata/netdata/blob/master/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://registry.my-netdata.io"
    },
    {
      "url": "http://registry.my-netdata.io"
    },
    {
      "url": "http://localhost:19999"
    }
  ],
  "tags": [
    {
      "name": "nodes",
      "description": "Everything related to monitored nodes"
    },
    {
      "name": "charts",
      "description": "Everything related to chart instances - DO NOT USE IN NEW CODE - use contexts instead"
    },
    {
      "name": "contexts",
      "description": "Everything related contexts - in new code, use this instead of charts"
    },
    {
      "name": "data",
      "description": "Everything related to data queries"
    },
    {
      "name": "badges",
      "description": "Everything related to dynamic badges based on metric data"
    },
    {
      "name": "weights",
      "description": "Everything related to scoring / weighting metrics"
    },
    {
      "name": "functions",
      "description": "Everything related to functions"
    },
    {
      "name": "alerts",
      "description": "Everything related to alerts"
    },
    {
      "name": "management",
      "description": "Everything related to managing netdata Agents"
    }
  ],
  "paths": {
    "/api/v2/nodes": {
      "get": {
        "deprecated": true,
        "operationId": "getNodes2",
        "tags": [
          "nodes"
        ],
        "summary": "Nodes Info v2",
        "description": "Get a list of all nodes hosted by this Netdata Agent.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/scopeNodes"
          },
          {
            "$ref": "#/components/parameters/scopeContexts"
          },
          {
            "$ref": "#/components/parameters/filterNodes"
          },
          {
            "$ref": "#/components/parameters/filterContexts"
          },
          {
            "$ref": "#/components/parameters/contextsQueryOptions"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "`/api/v2/nodes` response for all nodes hosted by a Netdata Agent.\n",
                  "type": "object",
                  "properties": {
                    "api": {
                      "$ref": "#/components/schemas/api"
                    },
                    "agents": {
                      "$ref": "#/components/schemas/agents"
                    },
                    "versions": {
                      "$ref": "#/components/schemas/versions"
                    },
                    "nodes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/nodeFull"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/nodes": {
      "get": {
        "operationId": "getNodes3",
        "tags": [
          "nodes"
        ],
        "summary": "Nodes Info v3",
        "description": "Get a list of all nodes hosted by this Netdata Agent.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/scopeNodes"
          },
          {
            "$ref": "#/components/parameters/scopeContexts"
          },
          {
            "$ref": "#/components/parameters/filterNodes"
          },
          {
            "$ref": "#/components/parameters/filterContexts"
          },
          {
            "$ref": "#/components/parameters/contextsQueryOptions"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "`/api/v3/nodes` response for all nodes hosted by a Netdata Agent.\n",
                  "type": "object",
                  "properties": {
                    "api": {
                      "$ref": "#/components/schemas/api"
                    },
                    "agents": {
                      "$ref": "#/components/schemas/agents"
                    },
                    "versions": {
                      "$ref": "#/components/schemas/versions"
                    },
                    "nodes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/nodeFull"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/contexts": {
      "get": {
        "deprecated": true,
        "operationId": "getContexts2",
        "tags": [
          "contexts"
        ],
        "summary": "Contexts Info v2",
        "description": "Get a list of all contexts, across all nodes, hosted by this Netdata Agent.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/scopeNodes"
          },
          {
            "$ref": "#/components/parameters/scopeContexts"
          },
          {
            "$ref": "#/components/parameters/filterNodes"
          },
          {
            "$ref": "#/components/parameters/filterContexts"
          },
          {
            "$ref": "#/components/parameters/contextsQueryOptions"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contexts2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/contexts": {
      "get": {
        "operationId": "getContexts3",
        "tags": [
          "contexts"
        ],
        "summary": "Contexts Info v3",
        "description": "Get a list of all contexts, across all nodes, hosted by this Netdata Agent.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/scopeNodes"
          },
          {
            "$ref": "#/components/parameters/scopeContexts"
          },
          {
            "$ref": "#/components/parameters/filterNodes"
          },
          {
            "$ref": "#/components/parameters/filterContexts"
          },
          {
            "$ref": "#/components/parameters/contextsQueryOptions"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contexts2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/q": {
      "get": {
        "deprecated": true,
        "operationId": "q2",
        "tags": [
          "contexts"
        ],
        "summary": "Full Text Search v2",
        "description": "Get a list of contexts, across all nodes, hosted by this Netdata Agent, matching a string expression\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The strings to search for, formatted as a simple pattern",
            "required": true,
            "schema": {
              "type": "string",
              "format": "simple pattern"
            }
          },
          {
            "$ref": "#/components/parameters/scopeNodes"
          },
          {
            "$ref": "#/components/parameters/scopeContexts"
          },
          {
            "$ref": "#/components/parameters/filterNodes"
          },
          {
            "$ref": "#/components/parameters/filterContexts"
          },
          {
            "$ref": "#/components/parameters/contextsQueryOptions"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contexts2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/q": {
      "get": {
        "operationId": "q3",
        "tags": [
          "contexts"
        ],
        "summary": "Full Text Search v3",
        "description": "Get a list of contexts, across all nodes, hosted by this Netdata Agent, matching a string expression.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The strings to search for, formatted as a simple pattern",
            "required": true,
            "schema": {
              "type": "string",
              "format": "simple pattern"
            }
          },
          {
            "$ref": "#/components/parameters/scopeNodes"
          },
          {
            "$ref": "#/components/parameters/scopeContexts"
          },
          {
            "$ref": "#/components/parameters/filterNodes"
          },
          {
            "$ref": "#/components/parameters/filterContexts"
          },
          {
            "$ref": "#/components/parameters/contextsQueryOptions"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contexts2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/info": {
      "get": {
        "deprecated": true,
        "operationId": "getNodeInfo1",
        "tags": [
          "nodes"
        ],
        "summary": "Node Info v1",
        "description": "The info endpoint returns basic information about netdata. It provides:\n* netdata version\n* netdata unique id\n* list of hosts mirrored (includes itself)\n* Operating System, Virtualization, K8s nodes and Container technology information\n* List of active collector plugins and modules\n* Streaming information\n* number of alarms in the host\n  * number of alarms in normal state\n  * number of alarms in warning state\n  * number of alarms in critical state\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "netdata basic information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/info"
                }
              }
            }
          },
          "503": {
            "description": "netdata daemon not ready (used for health checks)."
          }
        }
      }
    },
    "/api/v1/charts": {
      "get": {
        "deprecated": true,
        "operationId": "getNodeCharts1",
        "tags": [
          "charts"
        ],
        "summary": "List all charts v1 - EOL",
        "description": "The charts endpoint returns a summary about all charts stored in the netdata server.\n**Security & Access Control:** - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply - **Default Access:** Public (no authentication required) - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "An array of charts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/chart_summary"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/chart": {
      "get": {
        "deprecated": true,
        "operationId": "getNodeChart1",
        "tags": [
          "charts"
        ],
        "summary": "Get one chart v1 - EOL",
        "description": "The chart endpoint returns detailed information about a chart.\n**Security & Access Control:** - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply - **Default Access:** Public (no authentication required) - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/chart"
          }
        ],
        "responses": {
          "200": {
            "description": "A javascript object with detailed information about the chart.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/chart"
                }
              }
            }
          },
          "400": {
            "description": "No chart id was supplied in the request."
          },
          "404": {
            "description": "No chart with the given id is found."
          }
        }
      }
    },
    "/api/v1/contexts": {
      "get": {
        "deprecated": true,
        "operationId": "getNodeContexts1",
        "tags": [
          "contexts"
        ],
        "summary": "Get a list of all node contexts available v1",
        "description": "The contexts endpoint returns a summary about all contexts stored in the netdata server.\n**Security & Access Control:** - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply - **Default Access:** Public (no authentication required) - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token - **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/dimensions"
          },
          {
            "$ref": "#/components/parameters/chart_label_key"
          },
          {
            "$ref": "#/components/parameters/chart_labels_filter"
          },
          {
            "$ref": "#/components/parameters/contextOptions1"
          },
          {
            "$ref": "#/components/parameters/after"
          },
          {
            "$ref": "#/components/parameters/before"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of contexts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/context_summary"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/context": {
      "get": {
        "deprecated": true,
        "operationId": "getNodeContext1",
        "tags": [
          "contexts"
        ],
        "summary": "Get info about a specific context",
        "description": "The context endpoint returns detailed information about a given context.\nThe `context` parameter is required for this call.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/context"
          },
          {
            "$ref": "#/components/parameters/dimensions"
          },
          {
            "$ref": "#/components/parameters/chart_label_key"
          },
          {
            "$ref": "#/components/parameters/chart_labels_filter"
          },
          {
            "$ref": "#/components/parameters/contextOptions1"
          },
          {
            "$ref": "#/components/parameters/after"
          },
          {
            "$ref": "#/components/parameters/before"
          }
        ],
        "responses": {
          "200": {
            "description": "A javascript object with detailed information about the context.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/context"
                }
              }
            }
          },
          "400": {
            "description": "No context id was supplied in the request."
          },
          "404": {
            "description": "No context with the given id is found."
          }
        }
      }
    },
    "/api/v3/context": {
      "get": {
        "operationId": "getNodeContext3",
        "tags": [
          "contexts"
        ],
        "summary": "Get info about a specific context - Latest API",
        "description": "The context endpoint returns detailed information about a specific monitoring context across all nodes.\n\nThis is the latest version (v3) of the context API. It provides the same functionality as v1 but may include additional features in the future.\n\n**What is a Context?**\nA context is a grouping of charts that monitor the same type of metric across different instances. For example:\n- `system.cpu` - CPU usage (one chart per node)\n- `disk.io` - Disk I/O operations (one chart per disk)\n- `net.packets` - Network packets (one chart per network interface)\n\n**Use Cases:**\n- Get metadata about a specific metric type across all instances and nodes\n- Discover which charts belong to a context\n- Filter charts by labels or dimensions\n- Understand metric families, units, and chart types\n- Build dynamic dashboards that adapt to available instances\n\nThe response includes all charts that belong to the specified context, with their metadata, dimensions, labels, and current availability status.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "description": "The context identifier to query. This is a required parameter.\n\nA context represents a type of metric collected across multiple instances. Each context groups charts that measure the same thing but for different entities.\n\n**Common Context Examples:**\n- `system.cpu` - CPU utilization metrics\n- `system.ram` - RAM usage metrics\n- `disk.io` - Disk I/O operations\n- `disk.ops` - Disk operation counts\n- `net.packets` - Network packet statistics\n- `net.drops` - Network packet drops\n- `cgroup.cpu` - Container CPU usage\n- `nginx.requests` - Nginx request rates\n\n**Finding Available Contexts:**\nUse the `/api/v3/contexts` endpoint to get a list of all available contexts.\n\n**Alias:** Can also be specified as `ctx` for brevity.\n",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "system.cpu"
          },
          {
            "$ref": "#/components/parameters/dimensions"
          },
          {
            "$ref": "#/components/parameters/chart_label_key"
          },
          {
            "$ref": "#/components/parameters/chart_labels_filter"
          },
          {
            "name": "options",
            "in": "query",
            "description": "Comma or pipe-separated list of options to control the response content and format.\n\n**Available Options:**\n- `full` or `all` - Include all possible information (equivalent to enabling all options below)\n- `charts` - Include the list of charts belonging to this context\n- `dimensions` - Include dimension information for each chart\n- `queue` - Include data collection queue statistics\n- `flags` - Include internal flags and states\n- `labels` - Include chart labels\n- `alerts` - Include alert configurations and states for this context\n\n**Option Combinations:**\nOptions can be combined. For example: `options=charts,dimensions,labels` will include charts with their dimensions and labels.\n\n**Default Behavior:**\nWhen not specified, returns basic context information without detailed chart data.\n\n**Examples:**\n- `options=full` - Complete information\n- `options=charts,dimensions` - Charts with dimension details\n- `options=charts|labels` - Charts with labels (pipe separator)\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "minimal": {
                "value": "",
                "summary": "Basic context info only"
              },
              "standard": {
                "value": "charts,dimensions",
                "summary": "Charts with dimensions"
              },
              "complete": {
                "value": "full",
                "summary": "All available information"
              }
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Return only charts that have collected data after this timestamp.\n\nThis filters charts based on their data collection activity, excluding charts that haven't collected data since the specified time.\n\n**Format:** Unix timestamp in seconds\n\n**Use Cases:**\n- Find recently active charts\n- Exclude stale or obsolete charts\n- Filter charts by collection timeframe\n\n**Example:** `after=1609459200` (charts active after January 1, 2021)\n\nWhen not specified, all charts are included regardless of their last update time.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1609459200
          },
          {
            "name": "before",
            "in": "query",
            "description": "Return only charts that have collected data before this timestamp.\n\nThis filters charts based on their data collection activity, excluding charts that only have data after the specified time.\n\n**Format:** Unix timestamp in seconds\n\n**Use Cases:**\n- Historical analysis of chart availability\n- Find charts that were active during a specific time period\n- Exclude newer charts from results\n\n**Example:** `before=1640995200` (charts active before January 1, 2022)\n\nWhen combined with `after`, you can specify an exact time window:\n`after=1609459200&before=1640995200` (charts active during 2021)\n\nWhen not specified, all charts are included regardless of their collection timeline.\n",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1640995200
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns detailed information about the requested context.\n\nThe response is a JSON object containing:\n- Context metadata (name, title, family, units, chart type)\n- List of charts belonging to this context (when options=charts)\n- Dimension information (when options=dimensions)\n- Chart labels (when options=labels)\n- Alert configurations (when options=alerts)\n- Collection statistics (when options=queue)\n\n**Response Structure:**\nThe exact structure depends on the options parameter. With `options=full`, you get complete information including all charts, their dimensions, labels, and current states.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/context"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Common causes:\n- Missing required 'context' parameter\n- Invalid parameter values\n- Malformed filter patterns\n"
          },
          "404": {
            "description": "Not found. The specified context does not exist on this Netdata agent.\n\nThis can occur when:\n- The context name is misspelled\n- The context is not being collected on this agent\n- The context was available but is now obsolete\n"
          },
          "500": {
            "description": "Internal server error. Usually indicates the server is out of memory."
          }
        }
      }
    },
    "/api/v1/config": {
      "get": {
        "deprecated": true,
        "operationId": "getConfig",
        "tags": [
          "dyncfg"
        ],
        "description": "Get dynamic configuration information.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "description": "The type of information required",
            "schema": {
              "type": "string",
              "enum": [
                "tree",
                "schema",
                "get",
                "enable",
                "disable",
                "restart"
              ],
              "default": "tree"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the dynamic configuration entity",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "description": "Top level path of the configuration entities, used with action 'tree'",
            "schema": {
              "type": "string",
              "default": "/"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "The timeout in seconds",
            "schema": {
              "type": "number",
              "default": 120
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/config_default_response"
                    },
                    {
                      "$ref": "#/components/schemas/config_tree"
                    },
                    {
                      "$ref": "#/components/schemas/config_schema"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Something is wrong with the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/config_default_response"
                }
              }
            }
          },
          "404": {
            "description": "The configurable entity requests is not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/config_default_response"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postConfig",
        "tags": [
          "dyncfg"
        ],
        "description": "Post dynamic configuration to Netdata.\n",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "description": "The type of action required.",
            "schema": {
              "type": "string",
              "enum": [
                "add",
                "test",
                "update"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the dynamic configuration entity to configure.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the dynamic configuration entity, used with action 'add'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "The timeout in seconds",
            "schema": {
              "type": "number",
              "default": 120
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful. This also means the configuration is currently running.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/config_default_response"
                }
              }
            }
          },
          "202": {
            "description": "The call was successful. The configuration has been accepted, but its status is not yet known.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/config_default_response"
                }
              }
            }
          },
          "299": {
            "description": "The call was successful. The configuration has been accepted, but a restart is required to apply it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/config_default_response"
                }
              }
            }
          },
          "400": {
            "description": "Something is wrong with the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/config_default_response"
                }
              }
            }
          },
          "404": {
            "description": "The configurable entity requests is not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/config_default_response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/data": {
      "get": {
        "deprecated": true,
        "operationId": "dataQuery2",
        "tags": [
          "data"
        ],
        "summary": "Data Query v2",
        "description": "Multi-node, multi-context, multi-instance, multi-dimension data queries, with time and metric aggregation.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "group_by",
            "in": "query",
            "description": "A comma separated list of the groupings required.\nAll possible values can be combined together, except `selected`. If `selected` is given in the list, all others are ignored.\nThe order they are placed in the list is currently ignored.\nThis parameter is also accepted as `group_by[0]` and `group_by[1]` when multiple grouping passes are required.\n",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "dimension",
                  "instance",
                  "percentage-of-instance",
                  "label",
                  "node",
                  "context",
                  "units",
                  "selected"
                ]
              },
              "default": [
                "dimension"
              ]
            }
          },
          {
            "name": "group_by_label",
            "in": "query",
            "description": "A comma separated list of the label keys to group by their values. The order of the labels in the list is respected.\nThis parameter is also accepted as `group_by_label[0]` and `group_by_label[1]` when multiple grouping passes are required.\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "comma separated list of label keys to group by",
              "default": ""
            }
          },
          {
            "name": "aggregation",
            "in": "query",
            "description": "The aggregation function to apply when grouping metrics together.\nWhen option `raw` is given, `average` and `avg` behave like `sum` and the caller is expected to calculate the average.\nThis parameter is also accepted as `aggregation[0]` and `aggregation[1]` when multiple grouping passes are required.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "min",
                "max",
                "avg",
                "average",
                "sum",
                "percentage",
                "extremes"
              ],
              "default": "average"
            }
          },
          {
            "$ref": "#/components/parameters/scopeNodes"
          },
          {
            "$ref": "#/components/parameters/scopeContexts"
          },
          {
            "$ref": "#/components/parameters/scopeInstances"
          },
          {
            "$ref": "#/components/parameters/scopeLabels"
          },
          {
            "$ref": "#/components/parameters/scopeDimensions"
          },
          {
            "$ref": "#/components/parameters/filterNodes"
          },
          {
            "$ref": "#/components/parameters/filterContexts"
          },
          {
            "$ref": "#/components/parameters/filterInstances"
          },
          {
            "$ref": "#/components/parameters/filterLabels"
          },
          {
            "$ref": "#/components/parameters/filterAlerts"
          },
          {
            "$ref": "#/components/parameters/filterDimensions"
          },
          {
            "$ref": "#/components/parameters/after"
          },
          {
            "$ref": "#/components/parameters/before"
          },
          {
            "$ref": "#/components/parameters/points"
          },
          {
            "$ref": "#/components/parameters/tier"
          },
          {
            "$ref": "#/components/parameters/dataQueryOptions"
          },
          {
            "$ref": "#/components/parameters/dataTimeGroup2"
          },
          {
            "$ref": "#/components/parameters/dataTimeGroupOptions2"
          },
          {
            "$ref": "#/components/parameters/dataTimeResampling2"
          },
          {
            "$ref": "#/components/parameters/dataFormat2"
          },
          {
            "$ref": "#/components/parameters/cardinalityLimit"
          },
          {
            "$ref": "#/components/parameters/timeoutMS"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/filename"
          },
          {
            "$ref": "#/components/parameters/tqx"
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful. The response includes the data in the format requested.\n",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/jsonwrap2"
                    },
                    {
                      "$ref": "#/components/schemas/data_json_formats2"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "according to the format requested."
                }
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "format": "html"
                }
              },
              "application/x-javascript": {
                "schema": {
                  "type": "string",
                  "format": "javascript"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - the body will include a message stating what is wrong.\n"
          },
          "500": {
            "description": "Internal server error. This usually means the server is out of memory.\n"
          }
        }
      }
    },
    "/api/v3/data": {
      "get": {
        "operationId": "dataQuery3",
        "tags": [
          "data"
        ],
        "summary": "Data Query v3",
        "description": "Multi-node, multi-context, multi-instance, multi-dimension data queries, with time and metric aggregation.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "group_by",
            "in": "query",
            "description": "A comma separated list of the groupings required.\nAll possible values can be combined together, except `selected`. If `selected` is given in the list, all others are ignored.\nThe order they are placed in the list is currently ignored.\nThis parameter is also accepted as `group_by[0]` and `group_by[1]` when multiple grouping passes are required.\n",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "dimension",
                  "instance",
                  "percentage-of-instance",
                  "label",
                  "node",
                  "context",
                  "units",
                  "selected"
                ]
              },
              "default": [
                "dimension"
              ]
            }
          },
          {
            "name": "group_by_label",
            "in": "query",
            "description": "A comma separated list of the label keys to group by their values. The order of the labels in the list is respected.\nThis parameter is also accepted as `group_by_label[0]` and `group_by_label[1]` when multiple grouping passes are required.\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "comma separated list of label keys to group by",
              "default": ""
            }
          },
          {
            "name": "aggregation",
            "in": "query",
            "description": "The aggregation function to apply when grouping metrics together.\nWhen option `raw` is given, `average` and `avg` behave like `sum` and the caller is expected to calculate the average.\nThis parameter is also accepted as `aggregation[0]` and `aggregation[1]` when multiple grouping passes are required.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "min",
                "max",
                "avg",
                "average",
                "sum",
                "percentage",
                "extremes"
              ],
              "default": "average"
            }
          },
          {
            "$ref": "#/components/parameters/scopeNodes"
          },
          {
            "$ref": "#/components/parameters/scopeContexts"
          },
          {
            "$ref": "#/components/parameters/scopeInstances"
          },
          {
            "$ref": "#/components/parameters/scopeLabels"
          },
          {
            "$ref": "#/components/parameters/scopeDimensions"
          },
          {
            "$ref": "#/components/parameters/filterNodes"
          },
          {
            "$ref": "#/components/parameters/filterContexts"
          },
          {
            "$ref": "#/components/parameters/filterInstances"
          },
          {
            "$ref": "#/components/parameters/filterLabels"
          },
          {
            "$ref": "#/components/parameters/filterAlerts"
          },
          {
            "$ref": "#/components/parameters/filterDimensions"
          },
          {
            "$ref": "#/components/parameters/after"
          },
          {
            "$ref": "#/components/parameters/before"
          },
          {
            "$ref": "#/components/parameters/points"
          },
          {
            "$ref": "#/components/parameters/tier"
          },
          {
            "$ref": "#/components/parameters/dataQueryOptions"
          },
          {
            "$ref": "#/components/parameters/dataTimeGroup2"
          },
          {
            "$ref": "#/components/parameters/dataTimeGroupOptions2"
          },
          {
            "$ref": "#/components/parameters/dataTimeResampling2"
          },
          {
            "$ref": "#/components/parameters/dataFormat2"
          },
          {
            "$ref": "#/components/parameters/cardinalityLimit"
          },
          {
            "$ref": "#/components/parameters/timeoutMS"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/filename"
          },
          {
            "$ref": "#/components/parameters/tqx"
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful. The response includes the data in the format requested.\n",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/jsonwrap2"
                    },
                    {
                      "$ref": "#/components/schemas/data_json_formats2"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "according to the format requested."
                }
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "format": "html"
                }
              },
              "application/x-javascript": {
                "schema": {
                  "type": "string",
                  "format": "javascript"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - the body will include a message stating what is wrong.\n"
          },
          "500": {
            "description": "Internal server error. This usually means the server is out of memory.\n"
          }
        }
      }
    },
    "/api/v1/data": {
      "get": {
        "deprecated": true,
        "operationId": "dataQuery1",
        "tags": [
          "data"
        ],
        "summary": "Data Query v1 - Single node, single chart or context queries. without group-by.",
        "description": "Query metric data of a chart or context of a node and return a dataset having time-series data for all dimensions available.\nFor group-by functionality, use `/api/v2/data`.\nAt least a `chart` or a `context` have to be given for the data query to be executed.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/chart"
          },
          {
            "$ref": "#/components/parameters/context"
          },
          {
            "$ref": "#/components/parameters/dimension"
          },
          {
            "$ref": "#/components/parameters/chart_label_key"
          },
          {
            "$ref": "#/components/parameters/chart_labels_filter"
          },
          {
            "$ref": "#/components/parameters/after"
          },
          {
            "$ref": "#/components/parameters/before"
          },
          {
            "$ref": "#/components/parameters/points"
          },
          {
            "$ref": "#/components/parameters/tier"
          },
          {
            "$ref": "#/components/parameters/dataQueryOptions"
          },
          {
            "$ref": "#/components/parameters/dataFormat1"
          },
          {
            "$ref": "#/components/parameters/dataTimeGroup1"
          },
          {
            "$ref": "#/components/parameters/dataTimeGroupOptions1"
          },
          {
            "$ref": "#/components/parameters/dataTimeResampling1"
          },
          {
            "$ref": "#/components/parameters/timeoutMS"
          },
          {
            "$ref": "#/components/parameters/callback"
          },
          {
            "$ref": "#/components/parameters/filename"
          },
          {
            "$ref": "#/components/parameters/tqx"
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful. The response includes the data in the format requested.\n",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/jsonwrap1"
                    },
                    {
                      "$ref": "#/components/schemas/data_json_formats1"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "according to the format requested."
                }
              },
              "text/html": {
                "schema": {
                  "type": "string",
                  "format": "html"
                }
              },
              "application/x-javascript": {
                "schema": {
                  "type": "string",
                  "format": "javascript"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - the body will include a message stating what is wrong."
          },
          "404": {
            "description": "Chart or context is not found. The supplied chart or context will be reported."
          },
          "500": {
            "description": "Internal server error. This usually means the server is out of memory."
          }
        }
      }
    },
    "/api/v1/allmetrics": {
      "get": {
        "deprecated": true,
        "operationId": "allMetrics1",
        "tags": [
          "data"
        ],
        "summary": "All Metrics v1 - Fetch latest value for all metrics",
        "description": "The `allmetrics` endpoint returns the latest value of all metrics maintained for a netdata node.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "The format of the response to be returned.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "shell",
                "prometheus",
                "prometheus_all_hosts",
                "json"
              ],
              "default": "shell"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Allows to filter charts out using simple patterns.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "any text"
            }
          },
          {
            "name": "variables",
            "in": "query",
            "description": "When enabled, netdata will expose various system configuration variables.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ],
              "default": "no"
            }
          },
          {
            "name": "timestamps",
            "in": "query",
            "description": "Enable or disable timestamps in prometheus output.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ],
              "default": "yes"
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "When enabled netdata will report dimension names. When disabled netdata will report dimension IDs. The default is controlled in netdata.conf.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ],
              "default": "yes"
            }
          },
          {
            "name": "oldunits",
            "in": "query",
            "description": "When enabled, netdata will show metric names for the default `source=average` as they appeared before 1.12, by using the legacy unit naming conventions.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ],
              "default": "yes"
            }
          },
          {
            "name": "hideunits",
            "in": "query",
            "description": "When enabled, netdata will not include the units in the metric names, for the default `source=average`.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no"
              ],
              "default": "yes"
            }
          },
          {
            "name": "server",
            "in": "query",
            "description": "Set a distinct name of the client querying prometheus metrics. Netdata will use the client IP if this is not set.\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "any text"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "Prefix all prometheus metrics with this string.\n",
            "required": false,
            "schema": {
              "type": "string",
              "format": "any text"
            }
          },
          {
            "name": "data",
            "in": "query",
            "description": "Select the prometheus response data source. There is a setting in netdata.conf for the default.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "as-collected",
                "average",
                "sum"
              ],
              "default": "average"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All the metrics returned in the format requested."
          },
          "400": {
            "description": "The format requested is not supported."
          }
        }
      }
    },
    "/api/v1/badge.svg": {
      "get": {
        "deprecated": true,
        "operationId": "badge1",
        "tags": [
          "badges"
        ],
        "summary": "Generate a badge in form of SVG image for a chart (or dimension)",
        "description": "Successful responses are SVG images.\n**Security & Access Control:** - 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply - **Default Access:** Public (no authentication required) - **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token - **IP Restrictions:** Subject to `allow badges from` in netdata.conf - **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/chart"
          },
          {
            "$ref": "#/components/parameters/dimension"
          },
          {
            "$ref": "#/components/parameters/after"
          },
          {
            "$ref": "#/components/parameters/before"
          },
          {
            "$ref": "#/components/parameters/dataTimeGroup1"
          },
          {
            "$ref": "#/components/parameters/dataQueryOptions"
          },
          {
            "name": "alarm",
            "in": "query",
            "description": "The name of an alarm linked to the chart.",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "format": "any text"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "A text to be used as the label.",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "format": "any text"
            }
          },
          {
            "name": "units",
            "in": "query",
            "description": "A text to be used as the units.",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "format": "any text"
            }
          },
          {
            "name": "label_color",
            "in": "query",
            "description": "A color to be used for the background of the label side(left side) of the badge. One of predefined colors or specific color in hex `RGB` or `RRGGBB` format (without preceding `#` character). If value wrong or not given default color will be used.\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "green",
                    "brightgreen",
                    "yellow",
                    "yellowgreen",
                    "orange",
                    "red",
                    "blue",
                    "grey",
                    "gray",
                    "lightgrey",
                    "lightgray"
                  ]
                },
                {
                  "type": "string",
                  "format": "^([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$"
                }
              ]
            }
          },
          {
            "name": "value_color",
            "in": "query",
            "description": "A color to be used for the background of the value *(right)* part of badge. You can set multiple using a pipe with a condition each, like this: `color<value|color:null` The following operators are supported: >, <, >=, <=, =, :null (to check if no value exists). Each color can be specified in same manner as for `label_color` parameter. Currently only integers are supported as values.\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string",
              "format": "any text"
            }
          },
          {
            "name": "text_color_lbl",
            "in": "query",
            "description": "Font color for label *(left)* part of the badge. One of predefined colors or as HTML hexadecimal color without preceding `#` character. Formats allowed `RGB` or `RRGGBB`. If no or wrong value given default color will be used.\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "green",
                    "brightgreen",
                    "yellow",
                    "yellowgreen",
                    "orange",
                    "red",
                    "blue",
                    "grey",
                    "gray",
                    "lightgrey",
                    "lightgray"
                  ]
                },
                {
                  "type": "string",
                  "format": "^([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$"
                }
              ]
            }
          },
          {
            "name": "text_color_val",
            "in": "query",
            "description": "Font color for value *(right)* part of the badge. One of predefined colors or as HTML hexadecimal color without preceding `#` character. Formats allowed `RGB` or `RRGGBB`. If no or wrong value given default color will be used.\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "green",
                    "brightgreen",
                    "yellow",
                    "yellowgreen",
                    "orange",
                    "red",
                    "blue",
                    "grey",
                    "gray",
                    "lightgrey",
                    "lightgray"
                  ]
                },
                {
                  "type": "string",
                  "format": "^([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$"
                }
              ]
            }
          },
          {
            "name": "multiply",
            "in": "query",
            "description": "Multiply the value with this number for rendering it at the image (integer value required).",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          },
          {
            "name": "divide",
            "in": "query",
            "description": "Divide the value with this number for rendering it at the image (integer value required).",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          },
          {
            "name": "scale",
            "in": "query",
            "description": "Set the scale of the badge (greater or equal to 100).",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          },
          {
            "name": "fixed_width_lbl",
            "in": "query",
            "description": "This parameter overrides auto-sizing of badge and creates it with fixed width. This parameter determines the size of the label's left side *(label/name)*. You must set this parameter together with `fixed_width_val` otherwise it will be ignored. You should set the label/value widths wide enough to provide space for all the possible values/contents of the badge you're requesting. In case the text cannot fit the space given it will be clipped. The `scale` parameter still applies on the values you give to `fixed_width_lbl` and `fixed_width_val`.\n",
            "required": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          },
          {
            "name": "fixed_width_val",
            "in": "query",
            "description": "This parameter overrides auto-sizing of badge and creates it with fixed width. This parameter determines the size of the label's right side *(value)*. You must set this parameter together with `fixed_width_lbl` otherwise it will be ignored. You should set the label/value widths wide enough to provide space for all the possible values/contents of the badge you're requesting. In case the text cannot fit the space given it will be clipped. The `scale` parameter still applies on the values you give to `fixed_width_lbl` and `fixed_width_val`.\n",
            "required": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "number",
              "format": "integer"
            }
          },
          {
            "name": "points",
            "in": "query",
            "description": "The number of points to use for the calculation. Default is 1.",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "group_options",
            "in": "query",
            "description": "Additional options for the grouping function.",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "precision",
            "in": "query",
            "description": "Number of decimal places to show in the value. Default is -1 (automatic).",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": -1
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Auto-refresh interval in seconds. Use \"auto\" to automatically determine refresh interval based on the time range or alarm update frequency. For alarms, defaults to the alarm's update_every. For charts with RRDR_OPTION_NOT_ALIGNED, defaults to the chart's update_every. Otherwise calculated from the time range (before - after).\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "auto"
                  ]
                },
                {
                  "type": "integer",
                  "minimum": 0
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful. The response should be an SVG image."
          },
          "400": {
            "description": "Bad request - the body will include a message stating what is wrong."
          },
          "404": {
            "description": "No chart with the given id is found."
          },
          "500": {
            "description": "Internal server error. This usually means the server is out of memory."
          }
        }
      }
    },
    "/api/v3/badge.svg": {
      "get": {
        "operationId": "badge3",
        "tags": [
          "badges"
        ],
        "summary": "Generate a badge in form of SVG image for a chart (or dimension) - Latest API",
        "description": "Generates an SVG badge displaying real-time metric values from Netdata charts or alarms.\nThis is the latest version (v3) of the badge API. It provides the same functionality as v1 but may include additional features in the future.\n\nThe badge can display:\n- Current value of a chart dimension\n- Current status and value of an alarm\n- Custom labels and units\n- Dynamic colors based on value thresholds or alarm status\n\nSuccessful responses are SVG images that can be embedded in web pages or documentation.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow badges from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/chart"
          },
          {
            "$ref": "#/components/parameters/dimension"
          },
          {
            "$ref": "#/components/parameters/after"
          },
          {
            "$ref": "#/components/parameters/before"
          },
          {
            "$ref": "#/components/parameters/dataTimeGroup1"
          },
          {
            "$ref": "#/components/parameters/dataQueryOptions"
          },
          {
            "name": "alarm",
            "in": "query",
            "description": "The name of an alarm linked to the chart. When specified, the badge will display the alarm's current value and use alarm status for color selection.",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "Custom text to use as the badge label (left side). If not specified:\n- For alarms: uses the alarm name (with underscores replaced by spaces)\n- For dimensions: uses the dimension name\n- Otherwise: uses the chart name\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "units",
            "in": "query",
            "description": "Custom text to use as the units suffix. If not specified:\n- For alarms: uses the alarm's configured units or empty string\n- For percentage queries: uses \"%\"\n- Otherwise: uses the chart's units\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "label_color",
            "in": "query",
            "description": "Background color for the label (left) side of the badge. Can be:\n- One of the predefined color names\n- Hex RGB format (3 digits): e.g., \"f00\" for red\n- Hex RRGGBB format (6 digits): e.g., \"ff0000\" for red\nNote: Do not include the '#' character. If value is invalid, default color will be used.\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "green",
                    "brightgreen",
                    "yellow",
                    "yellowgreen",
                    "orange",
                    "red",
                    "blue",
                    "grey",
                    "gray",
                    "lightgrey",
                    "lightgray"
                  ]
                },
                {
                  "type": "string",
                  "format": "^([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$"
                }
              ]
            }
          },
          {
            "name": "value_color",
            "in": "query",
            "description": "Background color for the value (right) side of the badge. Supports conditional coloring based on the value.\n\nCan be specified as:\n- Simple color: Same format as label_color\n- Conditional: Multiple color rules separated by pipe (|), each with format: `color<operator>value`\n\nSupported operators:\n- `>`: greater than\n- `<`: less than\n- `>=`: greater than or equal\n- `<=`: less than or equal\n- `=`: equal to\n- `:null`: true when no value exists\n\nExample: `green<80|yellow<95|red` (green if value < 80, yellow if < 95, otherwise red)\n\nNote: Currently only integers are supported as values. Colors follow same format as label_color.\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text_color_lbl",
            "in": "query",
            "description": "Font color for the label (left) side text. Can be:\n- One of the predefined color names\n- Hex RGB or RRGGBB format without '#' character\nIf not specified or invalid, default color will be used.\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "green",
                    "brightgreen",
                    "yellow",
                    "yellowgreen",
                    "orange",
                    "red",
                    "blue",
                    "grey",
                    "gray",
                    "lightgrey",
                    "lightgray"
                  ]
                },
                {
                  "type": "string",
                  "format": "^([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$"
                }
              ]
            }
          },
          {
            "name": "text_color_val",
            "in": "query",
            "description": "Font color for the value (right) side text. Can be:\n- One of the predefined color names\n- Hex RGB or RRGGBB format without '#' character\nIf not specified or invalid, default color will be used.\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "green",
                    "brightgreen",
                    "yellow",
                    "yellowgreen",
                    "orange",
                    "red",
                    "blue",
                    "grey",
                    "gray",
                    "lightgrey",
                    "lightgray"
                  ]
                },
                {
                  "type": "string",
                  "format": "^([0-9a-fA-F]{3}|[0-9a-fA-F]{6})$"
                }
              ]
            }
          },
          {
            "name": "multiply",
            "in": "query",
            "description": "Multiply the displayed value by this number before rendering. Integer value required.\nUseful for unit conversions or scaling. Default is 1.\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "divide",
            "in": "query",
            "description": "Divide the displayed value by this number before rendering. Integer value required.\nUseful for unit conversions or scaling. Default is 1.\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "scale",
            "in": "query",
            "description": "Scale factor for the badge size as a percentage. Must be >= 100.\n- 100 = normal size (default)\n- 150 = 1.5x larger\n- 200 = 2x larger\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "minimum": 100,
              "default": 100
            }
          },
          {
            "name": "fixed_width_lbl",
            "in": "query",
            "description": "Fixed width for the label (left) side in pixels. Must be used together with `fixed_width_val`.\n\nThis overrides automatic sizing and creates a badge with fixed dimensions. Ensure the width is sufficient for your content - text that doesn't fit will be clipped.\n\nThe `scale` parameter still applies to these fixed width values.\n",
            "required": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fixed_width_val",
            "in": "query",
            "description": "Fixed width for the value (right) side in pixels. Must be used together with `fixed_width_lbl`.\n\nThis overrides automatic sizing and creates a badge with fixed dimensions. Ensure the width is sufficient for your content - text that doesn't fit will be clipped.\n\nThe `scale` parameter still applies to these fixed width values.\n",
            "required": false,
            "allowEmptyValue": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "points",
            "in": "query",
            "description": "Number of data points to use for the calculation. Default is 1.\nHigher values provide averaging over more samples.\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "group_options",
            "in": "query",
            "description": "Additional options for the time-series grouping function. Format depends on the selected group method.",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "precision",
            "in": "query",
            "description": "Number of decimal places to display in the value.\n- Positive number: exact decimal places (e.g., 2 = \"12.34\")\n- -1 (default): automatic precision based on value magnitude\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "default": -1
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Auto-refresh interval for the badge. Can be:\n- \"auto\": Automatically determine refresh based on context\n  - For alarms: uses the alarm's update_every interval\n  - For non-aligned charts: uses the chart's update_every\n  - For time-range queries: uses the query time span\n- Integer: Specific refresh interval in seconds\n\nWhen refresh is set, the response includes a Refresh HTTP header.\n",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "oneOf": [
                {
                  "type": "string",
                  "enum": [
                    "auto"
                  ]
                },
                {
                  "type": "integer",
                  "minimum": 0
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response is an SVG image that can be embedded in HTML or Markdown.\n\nWhen refresh parameter is set, the response includes:\n- Refresh header with the interval\n- Appropriate Cache-Control headers\n",
            "content": {
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body contains an error message explaining what is wrong.\nCommon causes:\n- Missing required 'chart' parameter\n- Invalid parameter values\n"
          },
          "404": {
            "description": "Not found. Possible causes:\n- Chart with the specified ID does not exist\n- Specified alarm does not exist on the chart\n"
          },
          "500": {
            "description": "Internal server error. Usually indicates the server is out of memory."
          }
        }
      }
    },
    "/api/v3/allmetrics": {
      "get": {
        "operationId": "allMetrics3",
        "tags": [
          "data"
        ],
        "summary": "All Metrics v3 - Export all metrics in various formats - Latest API",
        "description": "The `allmetrics` endpoint exports the latest values of all metrics collected by Netdata in various formats suitable for integration with external monitoring systems, shell scripts, or APIs.\n\nThis is the latest version (v3) of the allmetrics API. It provides the same functionality as v1 but may include additional features in the future.\n\n**Supported Export Formats:**\n- **shell**: Bash-compatible variable assignments for scripting (NETDATA_CHARTNAME_DIMENSIONNAME=\"value\")\n- **prometheus**: Prometheus exposition format for a single host\n- **prometheus_all_hosts**: Prometheus format including metrics from all child nodes\n- **json**: JSON format with full chart and dimension metadata\n\n**Use Cases:**\n- Integration with Prometheus or other metric collectors\n- Shell script automation and monitoring\n- Custom metric exporters\n- Multi-host metric aggregation\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "The export format for the metrics. Required parameter.\n\n**Formats:**\n- `shell`: Bash variables (default) - Exports as NETDATA_CHARTNAME_DIMENSIONNAME=\"value\"\n- `prometheus`: Prometheus format (single host) - Compatible with Prometheus scraping\n- `prometheus_all_hosts`: Prometheus format (all hosts) - Includes metrics from child nodes with host labels\n- `json`: JSON format - Full metadata including chart names, families, contexts, units, and timestamps\n\n**Format Details:**\n- Shell format includes alarm status variables (NETDATA_ALARM_CHART_ALARM_STATUS, NETDATA_ALARM_CHART_ALARM_VALUE)\n- Prometheus formats respect Prometheus metric naming conventions\n- JSON format provides complete chart and dimension information\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "shell",
                "prometheus",
                "prometheus_all_hosts",
                "json"
              ],
              "default": "shell"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Simple pattern filter to include only specific charts. Uses Netdata simple pattern matching.\n\n**Pattern Syntax:**\n- Exact match: `system.cpu`\n- Wildcard: `system.*` (all system charts)\n- Multiple patterns: `system.* disk.*` (space-separated)\n- Negation: `!system.cpu` (exclude specific chart)\n\nWhen not specified, all charts are exported.\n\n**Examples:**\n- `system.*` - Export only system charts\n- `disk.* net.*` - Export disk and network charts\n- `* !*.mdstat` - Export all except mdstat charts\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variables",
            "in": "query",
            "description": "**Prometheus format only**: Include or exclude system configuration variables in the output.\n\nWhen enabled (yes/1/true), Netdata exposes various system configuration variables as Prometheus metrics. This includes:\n- Netdata configuration parameters\n- System environment information\n- Collection plugin states\n\nNote: Only affects Prometheus format output. Ignored for shell and json formats.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no",
                "1",
                "0",
                "true",
                "false"
              ],
              "default": "no"
            }
          },
          {
            "name": "timestamps",
            "in": "query",
            "description": "**Prometheus format only**: Include or exclude timestamps in Prometheus metrics.\n\nWhen enabled (default), each metric includes a timestamp of when it was collected.\nWhen disabled, metrics are exported without timestamps (Prometheus will use scrape time).\n\nNote: Only affects Prometheus format output. Ignored for shell and json formats.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no",
                "1",
                "0",
                "true",
                "false"
              ],
              "default": "yes"
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "**Prometheus format only**: Use dimension names vs IDs in metric names.\n\nWhen enabled (default), Prometheus metrics use human-readable dimension names.\nWhen disabled, metrics use dimension IDs (which never change).\n\n**Example:**\n- names=yes: `netdata_system_cpu_percentage_average{dimension=\"user\"}`\n- names=no: `netdata_system_cpu_percentage_average{dimension=\"user\"}`\n\nThe default is controlled by the global Netdata configuration. This parameter allows per-request override.\n\nNote: Only affects Prometheus format output.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no",
                "1",
                "0",
                "true",
                "false"
              ]
            }
          },
          {
            "name": "oldunits",
            "in": "query",
            "description": "**Prometheus format only**: Use legacy unit naming conventions (pre-1.12 format).\n\nWhen enabled, metric names for `source=average` use the old unit naming conventions as they appeared before Netdata version 1.12.\n\nThis is provided for backward compatibility with existing Prometheus configurations.\n\nNote: Only affects Prometheus format with source=average.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no",
                "1",
                "0",
                "true",
                "false"
              ],
              "default": "no"
            }
          },
          {
            "name": "hideunits",
            "in": "query",
            "description": "**Prometheus format only**: Exclude units from metric names for source=average.\n\nWhen enabled, units are not included in the Prometheus metric names for the default `source=average` data.\n\n**Example:**\n- hideunits=no: `netdata_system_cpu_percentage_average`\n- hideunits=yes: `netdata_system_cpu_average`\n\nNote: Only affects Prometheus format with source=average.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "yes",
                "no",
                "1",
                "0",
                "true",
                "false"
              ],
              "default": "no"
            }
          },
          {
            "name": "server",
            "in": "query",
            "description": "**Prometheus format only**: Set a custom identifier for the client scraping the metrics.\n\nThis parameter is used to identify the client in Prometheus metric labels. If not specified, Netdata uses the client's IP address.\n\nUseful when multiple Prometheus instances scrape the same Netdata agent, or when scraping through a proxy.\n\n**Example:** `server=prometheus-prod-1`\n\nNote: Only affects Prometheus format output. This value appears in metric labels to distinguish scraping sources.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "**Prometheus format only**: Prefix all Prometheus metric names with a custom string.\n\nUseful for namespacing metrics when aggregating from multiple sources or to comply with organizational metric naming conventions.\n\n**Example:** `prefix=mycompany_` produces metrics like `mycompany_system_cpu_percentage_average`\n\nThe default prefix is controlled by the global Netdata configuration. This parameter allows per-request override.\n\nNote: Only affects Prometheus format output.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data",
            "in": "query",
            "description": "**Prometheus format only**: Select the data source/aggregation method for Prometheus metrics.\n\n**Options:**\n- `as-collected`: Raw values as collected by data collection plugins (no aggregation)\n- `average`: Average values over the collection interval (default)\n- `sum`: Sum of values over the collection interval\n\nThe `as-collected` source provides the most recent raw sample, while `average` and `sum` provide values aggregated over the chart's update interval.\n\nThe default is controlled by the global Netdata exporting configuration. This parameter allows per-request override.\n\n**Use Cases:**\n- `as-collected`: For counter metrics that Prometheus will rate()\n- `average`: For gauge metrics showing typical values\n- `sum`: For accumulating metrics\n\nAliases: `source`, `data source`, `data-source`, `data_source`, `datasource`\n\nNote: Only affects Prometheus format output.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "as-collected",
                "average",
                "sum"
              ],
              "default": "average"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Metrics exported in the requested format.\n\n**Content Types:**\n- shell: text/plain\n- json: application/json\n- prometheus/prometheus_all_hosts: application/openmetrics-text (Prometheus format)\n\n**Response Characteristics:**\n- Shell format: Variables ready for sourcing in bash scripts\n- JSON format: Complete chart metadata with current values\n- Prometheus format: Ready for Prometheus scraping\n\nThe response is not cacheable as it contains current metric values.\n",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Shell format output (when format=shell)"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "JSON format output (when format=json)"
                }
              },
              "application/openmetrics-text": {
                "schema": {
                  "type": "string",
                  "description": "Prometheus format output (when format=prometheus or prometheus_all_hosts)"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The response body contains an error message.\n\nCommon causes:\n- Invalid or missing 'format' parameter\n- Unsupported format value\n- Invalid filter pattern syntax\n"
          },
          "500": {
            "description": "Internal server error. Usually indicates the server is out of memory or a collection plugin has crashed."
          }
        }
      }
    },
    "/api/v3/alerts": {
      "get": {
        "operationId": "alerts3",
        "tags": [
          "alerts"
        ],
        "summary": "Current Alert Status - Multi-node Alert Information - Latest API",
        "description": "Returns the current status of all alerts across all nodes monitored by this Netdata agent.\n\nThis is the latest version (v3) of the alerts API. It provides the same functionality as v2 but may include additional features in the future.\n\n**What This API Provides:**\n- Current state of all active, warning, and critical alerts\n- Alert values and thresholds\n- Alert configuration summaries\n- Multi-node alert aggregation\n- Filtering by alert name, context, node, or status\n\n**Use Cases:**\n- Dashboard alert widgets showing current system health\n- Alert management interfaces\n- Integration with external alerting systems\n- Monitoring alert coverage across infrastructure\n- Finding all alerts in specific states (warning/critical)\n\n**Response Content:**\nThe response includes comprehensive information about alerts including their current values, configured thresholds, time in current state, and associated context/chart information.\n\n**Security & Access Control:**\n- 📊 **Public Data API** - Bearer token optional, IP-based ACL restrictions apply\n- **Default Access:** Public (no authentication required)\n- **Bearer Protection:** When enabled via `/api/v3/bearer_protection`, requires bearer token\n- **IP Restrictions:** Subject to `allow dashboard from` in netdata.conf\n- **Access Methods:** Direct HTTP/HTTPS, Netdata Cloud, external tools\n",
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/scopeNodes"
          },
          {
            "$ref": "#/components/parameters/scopeContexts"
          },
          {
            "$ref": "#/components/parameters/filterNodes"
          },
          {
            "$ref": "#/components/parameters/filterContexts"
          },
          {
            "name": "alert",
            "in": "query",
            "description": "Filter alerts by alert name pattern. Uses Netdata simple pattern matching.\n\n**Pattern Syntax:**\n- Exact match: `cpu_usage`\n- Wildcard: `cpu_*` (all CPU-related alerts)\n- Multiple patterns: `cpu_* ram_*` (space-separated)\n- Negation: `!cpu_usage` (all except this alert)\n\n**Common Alert Names:**\n- `ram_in_use` - RAM utilization\n- `disk_space_usage` - Disk space\n- `10min_cpu_usage` - CPU usage over 10 minutes\n- `tcp_listen_overflows` - TCP connection queue overflows\n- `disk_backlog` - Disk I/O backlog\n\nWhen not specified, all alerts are included.\n\n**Examples:**\n- `alert=ram_in_use` - Only RAM usage alert\n- `alert=*cpu*` - All CPU-related alerts\n- `alert=* !*_critical` - All alerts except those ending with _critical\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "single": {
                "value": "ram_in_use",
                "summary": "Single alert"
              },
              "pattern": {
                "value": "*cpu*",
                "summary": "All CPU alerts"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
[...]
