/* Fonts */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i&display=swap');

body, input {
    font-family: "IBM Plex Sans","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.md-typeset {
    font-size: .9rem;
    line-height: 1.5;
}

/* Main structure */
.md-container {
    flex-flow: row wrap;
}

.md-grid {
    max-width: 80rem;
    display: flex;
    position: relative;
    overflow: visible;
    flex-direction: row;
    justify-content: space-between;
}

.md-content {
    margin-right: 0;
    margin-bottom: 6rem;
    margin-left: 0;
    max-width: 45rem;
    overflow: hidden;
}

.md-sidebar[data-md-state="lock"] {
    position: sticky;
}

.md-sidebar {
    position: sticky;
    flex: 0 0 300px;
}

.md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    transform: none;
    order: 3;
}

.md-content__inner {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

@media screen and (max-width: 76.1875em) {
    .md-sidebar--primary {
        position: fixed;
    }
}

/*
   Navigation
*/

.md-header-nav {
    padding: 0 0.6rem;
}

@media only screen and (max-width: 76.25em) {
    .md-header-nav {
        padding: 0 2.5rem;
    }
}

[data-md-color-primary="blue-grey"] .md-header {
    background: #35414A;
}

html [data-md-color-primary="blue-grey"] .md-nav--primary .md-nav__title--site {
    background-color: #35414A;
}

[data-md-color-primary="blue-grey"] .md-nav__source {
    background-color: #546e7a
}

.md-flex__cell {
    vertical-align: middle;
}

.md-header-nav__button {
    margin: 0;
    padding: 0;
    top: 2px;
}

/* Change the language selector dropdown to match new color. */
.md-header-nav select#sel {
    background-color: rgba(0,0,0,.26) !important;
    padding: 3px;
    margin-left: 5px;
    margin-right: 20px;
}

/* Algolia search */
#search_algolia {
    font-size: 0.7rem;
    padding: 0.4rem;
    border-radius: 3px;
    min-width: 300px;
}

@media only screen and (max-width: 76.25em) {
    #search_algolia {
        min-width: 100px;
    }
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
    font-size: 0.9rem !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
    font-size: 0.7rem;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
    font-size: 0.8rem;
}

/*
   Left-hand navigation
*/

.md-nav {
    font-size: 0.8rem;
}

/* Bold the first item on the docs sidebar: Netdata Documentation. */
.md-nav--primary > .md-nav__list > .md-nav__item:first-of-type {
    font-weight: 700;
}

/* Hide the label at the top of the navigation menu. Does nothing. 
   Well, it does do something on mobile, and this media query makes
   sure it's hidden only on screens wide enough to not use the mobile sidebar. */
@media only screen and (min-width:76.25em) {
    .md-nav--primary .md-nav__title {
        display: none;
    }
}

/*
   Documentation homepage
   In particular, the three buttons for install/getting started/configuration.
*/

.homepage-nav {
    display: grid;
    grid-template-columns: repeat(4,[col-start] 1fr);
    grid-gap: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
}

.nav-page {
    grid-column: span 2;
    border-radius: 2px;
    /* border: 1px solid #AEB3B7; */
    /* box-shadow: 0 8px 48px 4px rgba(86,91,115,0.15); */
}

.button-header {
    padding: 1rem 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #00AB44;
    border-radius: 3px 3px 0 0;
}

.button-header h3 {
    color: #35414A;
    font-weight: 700;
    margin: 0;
}

.button-header svg {
    color: #35414A;
    position: relative;
    transition-property: left;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.nav-page:hover svg {
    left: 4px;
}

.button-text {
    color: #35414A;
    padding: 1rem 1.4rem;
    border-right: 1px solid #AEB3B7;
    border-bottom: 1px solid #AEB3B7;
    border-left: 1px solid #AEB3B7;
    border-radius: 0 0 3px 3px;
}

.button-text p {
    margin: 0;
}

.nav-button {
    border: 2px solid black;
    border-radius: 4px;
    display: block;
    font-weight: 700;
    margin: 0 auto;
    padding: 0.6rem 0;
    text-align: center;
}

/*
   Markdown/body content
*/

/* Make header a bit bolder with new IBM Plex Sans font. */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5 {
    font-weight: 500;
}

/* Make sure inline code in tables don't break. */
.md-typeset__table code {
    word-break: normal;
}

/* Give code blocks a little more line height */
.md-typeset pre {
    line-height: 1.6;
}

/* Show line numbers. */
[data-linenos]:before {
    border-right: .0625rem solid #ddd;
    color: #999;
    content: attr(data-linenos);
    display: inline-block;
    margin-left: -1.2rem;
    margin-right: .7rem;
    padding-left: 1.2rem;
}

.md-typeset .highlight .hll {
    display: inline;
    margin: 0;
    padding: 0;
}

/* Underline links, but not badges/icons. */
.md-typeset a:not(.nav-button):not(.md-icon):not(.headerlink) {
    border-bottom: 1px solid #272b30;
}

/* Fix the font size of admonition and details sections. */
.md-typeset .admonition, .md-typeset details {
    font-size: 0.75rem;
}