/* .md-nav__link {
    white-space: nowrap;
} */

.md-typeset {
    font-size: .75rem
}

/* Underline text */

.md-typeset a:not(.nav-button):not(.md-icon):not(.headerlink) {
    border-bottom: 1px solid #272b30;
}

/*  Custom styling for the new documentation homepage.
    In particular, the three buttons for install/getting started/configuration. */
.homepage-nav {
    display: grid;
    grid-template-columns: repeat(4,[col-start] 1fr);
    grid-gap: 2rem;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
}

.nav-page {
    grid-column: span 2;
    border-radius: 3px;
    border: 1px solid #EFEFEF;
    box-shadow: 0 8px 48px 4px rgba(86,91,115,0.15);
}

.button-header {
    padding: 1rem 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient( to right, #306BAC, #56B2FF 140%);
    border-radius: 3px 3px 0 0;
}

.button-header h3 {
    color: white;
    margin: 0;
}

.button-header svg {
    color: white;
    position: relative;
    transition-property: left;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.nav-page:hover svg {
    left: 4px;
}

.button-text {
    color: #35414A;
    padding: 1rem 1.4rem;
}

.button-text p {
    margin: 0;
}

.nav-button {
    border: 2px solid black;
    border-radius: 4px;
    display: block;
    font-weight: 700;
    margin: 0 auto;
    padding: 0.6rem 0;
    text-align: center;
}

/* Hide the label at the top of the navigation menu. Does nothing. 
   Well, it does do something on mobile, and this media query makes
   sure it's hidden only on screens wide enough to not use the mobile sidebar. */
@media only screen and (min-width:76.25em) {
    .md-nav--primary .md-nav__title {
        display: none;
    }
}

/* Change the language selector dropdown to match new color. */
.md-header-nav select#sel {
    background-color: rgba(0,0,0,.26) !important;
    padding: 3px;
    margin-left: 5px;
    margin-right: 20px;
}

/* Add some whitespace to the bottom of each doc. */
.md-content {
    margin-bottom: 6rem;
}

/* Make sure inline code in tables don't break. */
.md-typeset__table code {
    word-break: normal;
}

/* Give code blocks a little more line height */
.md-typeset pre {
    line-height: 1.6;
}

/* Show line numbers. */
[data-linenos]:before {
    border-right: .0625rem solid #ddd;
    color: #999;
    content: attr(data-linenos);
    display: inline-block;
    margin-left: -1.2rem;
    margin-right: .7rem;
    padding-left: 1.2rem;
}

.md-typeset .highlight .hll {
    display: inline;
    margin: 0;
    padding: 0;
}

/* Bold the first item on the docs sidebar: Netdata Documentation */
.md-nav--primary > .md-nav__list > .md-nav__item:first-of-type {
    font-weight: 700;
}