html {
    font-family: sans-serif;
}

.netdata-container {
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: inline-block;
	flex-wrap: wrap;
	overflow: hidden;
}

.netdata-message {
	font-size: x-small;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.netdata-error-message {
	background: #EEEEEE;
}

.netdata-info-message {

}

.netdata-chart-legend {
	background-color:Gray;
	overflow: auto;
	overflow-y: scroll;
	display: inline-block;
}

.netdata-chart {
	display: inline-block;
	overflow: hidden;
}

.netdata-peity-chart {

}

.netdata-sparkline-chart {

}

.netdata-dygraph-chart {

}

.netdata-morris-chart {

}

.netdata-google-chart {

}

/* make dygraph legend disappear on hover */
.dygraph-legend {
	opacity: 0.9;
	-webkit-transition:opacity 0.2s ease;
	-moz-transition:opacity 0.2s ease;
	-o-transition:opacity 0.2s ease;
	padding: 4px;
}

.dygraph-legend:hover {
	/* Red(0-255), Blue(0-255), Green(0-255), Alpha (0-1) */
	background-color:rgba(100,100,100,0); 
	opacity:0;
}

/* TEST
.dygraph-legend {
	position: absolute;
	background: rgb(0, 0, 0) transparent !important;
	background-color: rgba(0,0,0,0.6) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)" !important;
	color: white !important;
	font: 10px arial, san serif !important;
	text-align: left !important;
	white-space: nowrap !important;
	padding: 5px !important;
	border: 1px solid white !important;
	box-sizing: content-box !important;
	z-index: 10000 !important;
}
*/

.dygraph-title {
	text-indent: 56px;
	text-align: left;
	position: absolute;
	left: 0px;
	top: 4px;
	font-size: 11px;
	font-weight: bold;
}
