/* http://stackoverflow.com/questions/17005500/bootstrap-css-responsive-left-with-a-white-space-on-the-right */

html {
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  width: auto !important;
  overflow-x: hidden !important;
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.thumbgraph {
	float: left;
}

.thumbgraphs {
	width: 100%;
}

.thumbtitle {
	float: none;
	width: 100%;
}

.thumbgroup {
	float: none;
	width: 100%;
}

.container.graphs {
	width: 95%;
}

.breadcrumb.graphs {
    margin-top: 10px;
    margin-bottom: 10px;
}
